<template lang="pug">
    div
        div.py-4(v-if="userDetail.id")
            .d-flex
                div.pa-2
                    div
                        div.grey--text.text--darken-1.text-md-subtitle-1 Nombres
                        div {{userDetail.first_name}}
                    div
                        div.grey--text.text--darken-1.text-md-subtitle-1 Apellidos
                        div {{userDetail.last_name}}
                div.pa-2        
                    div
                        div.grey--text.text--darken-1.text-md-subtitle-1 Celular
                        div {{userDetail.phone_number}}
                    div
                        div.grey--text.text--darken-1.text-md-subtitle-1 Email
                        div {{userDetail.email}}
</template>

<script lang="ts">
    import {Component, State, Vue} from "nuxt-property-decorator";
    import {UserServices} from "~/services/UserServices";

    @Component({
    })
    export default class index extends Vue {
        public userServices = new UserServices()

        @State('authUser') public authUser:any
        public userDetail = {}
 
        mounted() {
            this.getUserDetail()
        }

        async getUserDetail(){
            let orderList = await this.userServices.getUserDetail({id:this.authUser.uid})
            this.userDetail = await orderList.data()
        }

    }
</script>

<style scoped>

</style>