<template lang="pug">
    .div
        v-card(elevation="0" v-for="order in orderList" :key="order.id").mb-6.pa-2.pa-md-4.gray--border
            div
                div.font-weight-bold Pedido No. {{order.payment.method_payment_id}}
                div
                    div(style="width:50%;display: inline-block;").py-1.font-weight-medium Comprado el {{order.created_at}}
                    div(style="width:50%;display: inline-block;").py-1.text-right.font-weight-bold Pago Total: S/ {{order.summary.total}}
                div(style="align-items: center; display: flex;")
                    div(style="width:20%;").pa-2
                        v-img(:src="order.product.image")
                    div(style="width:80%").pa-2
                        div.font-weight-light(style="align-items: center; align-content: center; display: flex;")
                            span(v-if="order.name_more") {{order.product.name}}
                            span.d-inline-block.text-truncate(v-else style="max-width:74%") {{order.product.name}}
                            span(v-if="!order.name_more")
                                a.text-decoration-none.font-weight-bold(@click="order.name_more = true") Ver más
                        div Cantidad:  {{order.product.quantity}}
                        div.font-weight-medium  Precio:  S/{{order.summary.subtotal}}
                        div.py-1
                            div(style="display:flex;align-items:center;")
                                v-icon(color="green" style="font-size: 52px;").pr-4 mdi-cube-send
                                span
                                    div.subtitle-1.font-weight-regular(style="line-height: 20px;") Envío S/ {{order.summary.ship_pay}}
                                    div.subtitle-2.font-weight-regular
                                        span Recíbelo el
                                        span.pl-1.green--text {{order.shipping.arrival_date}}
                        //div(style="display:flex;align-items: center;").py-1
                            div(style="display:flex;align-items:center;width: 80%;")
                                v-avatar(width="42px" height="42px")
                                    img(src="https://cdn.vuetifyjs.com/images/john.jpg"  alt="John")
                                span.pl-3
                                    div.grey--text.text--darken-1.text-md-body-2 Vendedor
                                    div.primary--text.text-md-body-2  Jhanet Miranda Milan
                            div(style="width: 20%;display: flex;")
                                img(src="@/assets/images/wtsapp.png" width="30px" alt="")
                                span
                                    v-icon(color="red" style="font-size: 30px;") mdi-seal
</template>

<script lang="ts">
    import {Component, State, Vue} from "nuxt-property-decorator";
    import {OrdersServices} from "~/services/OrdersServices";
    import moment from "moment";
    import "moment-timezone";
    moment.locale('es-do');

    @Component({
    })
    export default class Mispedidos extends Vue{
        public ordersServices = new OrdersServices()
        @State('authUser') public authUser:any;

        public orderList:any = []
        //public name_more = false

        mounted() {
            this.showOrderList()
        }

        async showOrderList(){
            let orderList = await this.ordersServices.getOrderList({id:this.authUser.uid})
            orderList.forEach((vl:any)=>{
                let doc:any = vl.data()
                doc["created_at"] = moment(doc.created_at.toDate()).format("DD/MM/YYYY")
                doc["name_more"] = false
                this.orderList.push(doc)
            })
        }
    }
</script>

<style scoped>

</style>
