<template lang="pug">
    .div
        .div
            div.h5.pb-4 Mis direcciones
            div(v-if="adressList.length > 0")
                div.pa-1(v-for="adress in adressList" style="border: solid 1px #b9b9b9; border-radius: 16px;")
                    div
                        span.pa-2.font-weight-light Nombre:
                        span {{adress.first_name}} {{adress.last_name}}
                    div
                        span.pa-2.font-weight-light Direccion:
                        span {{adress.detail}}
                    div
                        span.pa-2.font-weight-light Referencia:
                        span {{adress.reference}}
                    .d-flex
                        div.pa-2
                            div.grey--text.font-weight-light.text-md-subtitle-2 Departamento
                            div(v-if="adress.department") {{adress.department.name}}
                        div.pa-2
                            div.grey--text.font-weight-light.text-md-subtitle-2 Provincia
                            div(v-if="adress.province") {{adress.province.name}}
                        div.pa-2
                            div.grey--text.font-weight-light.text-md-subtitle-2 Distrito
                            div(v-if="adress.district") {{adress.district.name}}



</template>

<script lang="ts">
    import {Component, State, Vue} from "nuxt-property-decorator";
    import {UserServices} from "~/services/UserServices";

    @Component({
    })
    export default class Misdirecciones extends Vue {
        public userServices = new UserServices()
        @State('authUser') public authUser:any
        public adressList:any = []

        mounted() {
            this.getAddressAll()
        }

        async getAddressAll(){
            let orderList = await this.userServices.getAddressAll({id:this.authUser.uid})
            await orderList.forEach((doc:any) => {
                this.adressList.push(doc.data())
                //console.log(this.adressList)
            });
        }
    }
</script>

<style scoped>

</style>
