<template lang="pug">
    .div
        v-card(elevation="0" v-for="order in orderList" :key="order.id").mb-1.pa-2.pa-md-4.gray--border
            div
                div.font-weight-bold Pedido No. {{order.payment.method_payment_id}} || Orden: {{order.id}}
                div
                    div(style="width:50%;display: inline-block;").py-1.font-weight-medium Comprado el {{order.created_at}}
                    div(style="width:50%;display: inline-block;").py-1.text-right.font-weight-bold Pago Total: S/ {{order.summary.total}}
                div(style="align-items: center; display: flex;")
                    div(style="width:20%;").pa-2
                        v-img(:src="order.product.image")
                    div(style="width:80%").pa-2
                        div.font-weight-light(style="align-items: center; align-content: center; display: flex;")
                            span(v-if="order.name_more") {{order.product.name}}
                            span.d-inline-block.text-truncate(v-else style="max-width:74%") {{order.product.name}}
                            span(v-if="!order.name_more")
                                a.text-decoration-none.font-weight-bold(@click="order.name_more = true") Ver más
                        div
                            span
                                span Pago:
                                span.font-weight-medium  {{order.payment.status}}
                                span  Medios:
                                span.font-weight-medium  {{order.payment.code}}
                        div
                            span Cantidad:
                            span.font-weight-medium {{order.product.quantity}}
                            span  Precio:
                            span.font-weight-medium  S/{{order.summary.subtotal}}
                        div(v-if="order.user") Usuario: {{order.user.full_name}} || {{order.user.phone_number}}
                        div.py-1
                            div(style="display:flex;align-items:center;")
                                v-icon(color="green" style="font-size: 52px;").pr-4 mdi-cube-send
                                span
                                    div.subtitle-1.font-weight-regular(style="line-height: 20px;") Envío S/ {{order.summary.ship_pay}}
                                    div.subtitle-2.font-weight-regular
                                        span Recíbelo el
                                        span.pl-1.green--text {{order.shipping.arrival_date}}
</template>

<script lang="ts">
    import {Component, State, Vue} from "nuxt-property-decorator";
    import {OrdersServices} from "~/services/OrdersServices";
    import {UserServices} from "~/services/UserServices";
    import moment from "moment";

    @Component({
    })
    export default class MisVentas extends Vue {

        private ordersServices = new OrdersServices()
        private userServices = new UserServices()
        public orderList:any = []

        mounted() {
            this.showAllOrderList()
        }

        async showAllOrderList(){
            let orderList = await this.ordersServices.getAllOrderList()
            orderList.forEach((vl:any)=>{
                let doc:any = vl.data()
                doc["created_at"] = moment(doc.created_at.toDate()).format("DD/MM/YYYY")
                doc["name_more"] = false
                this.userServices.getUserDetail({id:doc.customer_id}).then(user=>{
                    doc['user'] = user.data()
                    this.orderList.push(doc)
                })
            })
        }

    }
</script>

<style scoped>

</style>
