<template lang="pug">
    v-footer.hiden-footer(padless).grey.lighten-5
        v-card.text-center(flat='' tile='' width="100%").grey.lighten-5
            v-card-text.v-fotter-conteiner.pb-1
                v-row.ma-0
                    v-col(md='3').text-left.caption
                        div.mb-3
                            div.secondary--text.title
                                strong OfertaUp.com
                        div.mb-3 {{f_desc1_1}}
                        div.mb-3 {{f_desc1_2}}
                        div.mb-3 {{f_desc1_3}}

                    v-col(md='2').text-left.font-weight-medium
                        div.mb-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 POLÍTICAS DE LA EMPRESA
                        div.my-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 Política De Garantía
                        div.my-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 Terminos y Condiciones
                        div.my-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 Our Sitemap
                    v-col(md='2' cols=12).text-left.caption {{f_desc3}}
                    v-col(md='3').text-left.font-weight-medium
                        div.mb-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 Políticas de Garantía
                        div.mb-3
                            router-link(to="/").text-decoration-none.grey--text.text--darken-2 Terminos & Condiciones
                    v-col(md='2')
                        div.font-weight-medium.grey--text.text--darken-2.pb-4 Libro de reclamacion
                        v-img(:src="require('@/assets/images/libro-reclamaciones.png')" max-width="120" style="display: inline-block;")
            v-card-text.v-fotter-conteiner.pb-2.pt-1(style="display: flex;justify-content: center;")
                div.pa-2(style="width: 50%;")
                    div.text-left
                        strong Aceptamos pagos con tarjeta de crédito:
                    v-img(:src="require('@/assets/images/credit-card.png')" max-width="175")

                div.pa-2(style="width: 50%;")
                    div
                        strong Síguenos y enterate de nuestras ofertas:
                    div
                        v-btn.mx-4(v-for='icon in icons' :key='icon' icon='')
                            v-icon(size='24px')
                                | {{ icon }}
            v-divider
            v-card-text.py-2.grey.lighten-3
                .v-fotter-conteiner.text-center
                    span.text-md-body-1.font-weight-medium Josué 1:9
                    strong.secondary--text OfertaUp.com
                    |  {{ new Date().getFullYear() }} &mdash;
                    strong  © Noun Project Inc.
</template>

<script>
    export default {
        name: "MainFooter",
        data(){
            return{
                icons: [
                    'mdi-facebook',
                    'mdi-twitter',
                    'mdi-linkedin',
                    'mdi-instagram',
                ],
                f_desc3:"Somos importadores de los productos de la marca electronicas. llevamos vendiendo los productos desde el 2014 y te ofrecemos los precios más bajos y con garantía.\n" +
                    "Hacemos envíos a todo el Perú.\n" +
                    "Puedes comprar por nuestra página web o comprar directamente en nuestro local que está ubicado en Santa Beatriz, cercado de Lima, Perú.",
                f_desc1_1:"En nuestra tienda online encontrarás todas la novedades en tecnología Garantía total y Servicio Post-Venta..",
                f_desc1_2:"Av. Petit Thouars 1775, Oficina 1305, edificio Empresarial El Almirante, Lince, Lima, Perú",
                f_desc1_3:"Celular1: +51 900722405 Celular2: +51 947392421",
            }
        }
    }
</script>

<style lang="sass" scoped>
    @media (max-width: 600px)
        //.hiden-footer
            display: none

    .v-fotter-conteiner
        margin-left: auto
        margin-right: auto
        padding-left: 4px
        padding-right: 4px
        align-items: center
        position: relative
        z-index: 0
        width: 100%
        max-width: 1180px
        min-width: 312px

</style>
