<template lang="pug">
    div
        auth-main
        //fixed
        v-app-bar(:clipped-left='$vuetify.breakpoint.lgAndUp' elevation='0' fixed color="white" dense).v-header-h
            .v-header-conteiner
                //v-app-bar-nav-icon.btn-icon-header(v-if='role_type' @click.stop='drawer = !drawer')
                v-toolbar-title.ml-0
                    //router-link(:to='this.$route.matched[0].path')
                    //img(src="https://assets.linio.com/assets/images/logos/logo-linio-f5f1be20a6.svg" alt='' style='width: 80px; ')
                    //span.blue--text KIPU.PE
                    router-link(to="/" style="display: flex;").text-decoration-none
                        img(:src="require('@/assets/images/isologo.svg')" alt='' @click="search_input=''" style='height: 33px;')
                        //strong.secondary--text GoldenExpress
                v-spacer
                //- //div.hidden-sm-and-down(style="position: relative;width: 60%;")
                //-     v-text-field(
                //-         hide-details
                //-         label="Filled"
                //-         placeholder="Buscar"
                //-         filled
                //-         rounded
                //-         dense
                //-         single-line
                //-         class="mx-8 mobile-mx-1")
                //-     v-btn(icon).btn-search-header
                //-         v-icon mdi-magnify
                // Clase to hiden -> d-none d-sm-block
                div(v-if="showInputDesk" style="width: 60%;").d-done-mobile
                  input(v-model="search_input" type="text" id="search-input-amazon")
                  //- ais-search-box
                    //- div.slot-scope="{ currentRefinement, isSearchStalled, refine }"
                      input(v-model="search_input" type="text" id="search-input-amazon")
                    //- v-text-field(
                    //-     id="search-input-amazon"
                    //-     hide-details
                    //-     label="Filled"
                    //-     placeholder="Buscar"
                    //-     filled
                    //-     rounded
                    //-     dense
                    //-     single-line
                    //-     class="mx-8 mobile-mx-1")
                    //- v-btn(icon).btn-search-header
                    //-     v-icon mdi-magnify

                    //- v-autocomplete.mx-3(v-model='select' :loading='loading' :items='items' :search-input.sync='search' :debounce-search="500" flat no-data-text='Search somethings' open-on-clear hide-details no-filter label='Search' append-outer-icon="mdi-magnify" solo-inverted single-line clearable clear-icon="mdi-close-circle-outline" @click:append-outer="" @click:clear="clearSearch()" return-object)
                    //-   template(v-slot:selection="{item, selected}")
                    //-       span(class="d-inline-block text-truncate" style="max-width: 400px") {{item.name}}
                    //-   template(v-slot:item="{item}")
                    //-     div(max-width="200px")
                    //-       v-list-item(:to="`/p/${item.id}`")
                    //-         v-list-item-avatar
                    //-           v-img(:src="item.image" max-height="300px" max-widt="300px" contain)
                    //-         v-list-item-content
                    //-           v-list-item-title(class="d-inline-block text-truncate" style="max-width: 300px") {{ item.short_name }}
                    //-           v-list-item-subtitle {{ item.price }}

                v-spacer

                //v-btn(icon)
                    v-avatar(size="38" color='secondary')
                        span.white--text SM
                //v-btn(icon main-header).d-md-none.d-xs-block
                    v-icon.btn-icon-header mdi-magnify

                v-menu(bottom transition="slide-y-transition" color='primary' offset-y openOnHover left nudgeBottom="6" closeDelay="300")
                    template(v-slot:activator='{ on, attrs }')
                        v-btn(icon v-bind='attrs' v-on='on')
                            v-avatar(v-if="authUser" size="38" color='secondary')
                                span.white--text {{getInitialName()}}
                            v-icon(v-else).btn-icon-header mdi-account-circle-outline

                    v-list(width="180")
                        v-list-item( v-for='(item, index) in menuList' :key='index' link @click='profileMenu(item)')
                            v-list-item-title {{ item.title }}
                //v-btn(icon)
                    v-icon.btn-icon-header mdi-account-circle-outline

                //cart
                router-link(:to="{name:'perfil-mis-pedidos'}").text-decoration-none
                    v-btn(icon)
                        v-icon.btn-icon-header mdi-cart-outline
                v-btn(icon).d-none.d-sm-block
                    v-img(:src="require('@/assets/images/peru-icon-cicle.png')" max-width="32")
                    //v-icon.btn-icon-header mdi-store
            //template(v-slot:extension).d-none.d-xs-block
              input(v-model="search_input" type="text" id="search-input-amazon")
              //div(style="position: relative;width: 100%;" class="d-sm-none mx-0 mobile-mx-1 mb-5")
                //input(type="text" id="search-input-amazon" style="border: solid 1px;")
              //v-text-field(hide-details label="" placeholder="Buscar" filled rounded dense single-line class="mx-0 mobile-mx-1")
            //         - v-btn(icon).btn-search-header
            //         -     v-icon mdi-magnify
        //v-app-bar(color='#6A76AB' dark='' fixed)
            template(v-slot:img='{ props }')
                v-img(v-bind='props' gradient='to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)')
            v-app-bar-nav-icon
            v-toolbar-title Title
            v-spacer
            v-btn(icon='')
                v-icon mdi-magnify
            v-btn(icon='')
                v-icon mdi-heart
            v-menu(bottom='' left='')
                template(v-slot:activator='{ on, attrs }')
                    v-btn(icon='' color='yellow' v-bind='attrs' v-on='on')
                        v-icon mdi-dots-vertical
                //v-list
                    v-list-item(v-for='(item, i) in items' :key='i')
                        v-list-item-title {{ item.title }}
            template(v-slot:extension='')
                v-tabs(align-with-title='')
                    v-tab Tab 1
                    v-tab Tab 2
                    v-tab Tab 3
</template>

<script lang="ts">
import algoliasearch from 'algoliasearch/lite'
import {Action, Component, State, Vue, Watch} from 'nuxt-property-decorator'
import AuthMain from '../AuthMain.vue'
import {UserServices} from "~/services/UserServices";
import {PARAMETERS} from "~/config/HttpBase";
// const AmazonAutocomplete = require('amazon-autocomplete/src/amazon-autocomplete');

@Component({
  components: {
    AuthMain
  },
})
export default class MainHeader extends Vue {
  @State('authUser') public authUser: any
  @Action('onAuthStateChanged') public onAuthStateChanged:any;

  private searchClient = algoliasearch(
    'EJTBGYWH6R',
    '45be6173a9d5145d8d45ff68e59ff4c1'
  )
  private index = this.searchClient.initIndex('prod_products')
  public userServices = new UserServices()
  private drawer = null
  private showInputDesk = true
  private menuList: any = []
  private search_input:any = ""
  private itemsList = [
    { title: 'Iniciar sesión', type: 'login' },
    { title: 'Mi cuenta', type: 'profile' },
    { title: 'Mis pedidos', type: 'product' },
    { title: 'Cerrar sesión', type: 'logout' },
    { title: 'Mis ventas', type: 'store' }
  ]
  private searchText = ''
  private role_type = true
  private router_items = []
  private selected_rol = {}
  private name_initial = ''
  private role_route_tems = [
    {
      name: 'Administrador',
      to: 'admin'
    },
    {
      name: 'Domain Owner',
      to: 'domain-owner'
    },
    {
      name: 'Container Owner',
      to: 'container-owner'
    },
    {
      name: 'User Standad',
      to: 'user-standard'
    }
  ]

  private loading = false
  private items = [] as any
  private search = null
  private select = null
  private productSearchSuggestion = [] as any

  @Watch('authUser', { immediate: true, deep: true })
  async loginChange(val: any, oldVal: any) {
    this.menuList = []
    if (val && val.uid) {
      this.menuList.push(this.itemsList[1])
      this.menuList.push(this.itemsList[2])
      if(val.roles_id){
          if(val.roles_id.find(vl=>vl.name=='seller')){
              this.menuList.push(this.itemsList[4])
          }
      }else {
          let userDetail = await this.userServices.getUserDetail({id:val.uid})
          //@ts-ignore
          const userCookie = this.$cookies.get(PARAMETERS.loginSession)
          let authUser:any = userCookie.authUser;
          authUser['roles_id'] = userDetail.data().roles_id
          let claims = userCookie.claims;
          this.onAuthStateChanged({authUser, claims})
      }
      this.menuList.push(this.itemsList[3])
    } else {
      this.menuList.push(this.itemsList[0])
      this.menuList.push(this.itemsList[1])
      this.menuList.push(this.itemsList[2])
      //this.menuList.push(this.itemsList[3])
    }
  }

  @Watch('search', { immediate: true, deep: true })
  productSearch(val: any) {
    val && val !== this.select && this.querySelections(val)
  }

  clearSearch() {
    console.log('clearSearch called.')
    this.items = []
    console.log('clearSearch : ', this.items)
  }

  private amazonAutocomplete:any = {}

  querySelections(val: any) {
    this.loading = true
    this.index
      .search(val, {
        // attributesToRetrieve: ['name','short_name'],
        hitsPerPage: 5
      })
      .then(({ hits }) => {
        console.log('Algoria: ', JSON.stringify(hits))
        console.log('name: ', JSON.stringify(hits[0]['short_name']))
        this.items = hits.map((hits) => ({
          short_name: hits['short_name'],
          price: hits['price'],
          image: hits['image'],
          id: hits['id']
        }))
        this.productSearchSuggestion = hits.map((hits) => hits)
        console.log('items: ', this.items)
        console.log('productSearchSuggestion: ', this.productSearchSuggestion)
        this.loading = false
      })
  }

  mounted() {
    //document.getElementsByClassName("v-toolbar__content")[0].style['height'] = "54px";
    //console.log(this.authUser)
    let queryFromURI = this.$route.query.q
    this.search_input = queryFromURI ? queryFromURI: ''
    this.initSearchAmazon()
  }

  initSearchAmazon(){
      //@ts-ignore
      this.amazonAutocomplete = new AmazonAutocomplete({
          selector: '#search-input-amazon',
          delay: 200,
          showWords: true,
          hideOnblur: true
      })

      this.amazonAutocomplete.onSelectedWord((word: any) => {
              let elems = document.querySelectorAll('.ac__container--hide-on-blur');
              let elemsArr = Array.prototype.slice.call(elems);
              elemsArr.forEach(elem => elem.style.display = 'none');

              this.searchInput(word)
          }
      )
  }



  private searchInput(word:any){
      this.$store.commit('setSearchQuery', "");
      if(word!=''){
          this.$router.push({ path: '/search', query: { q: word } });
      }else {
          this.$router.push({ path: '/search' });
      }
      this.$store.commit('setSearchQuery', word);
      this.search_input = word
  }

  private async profileMenu($event: any) {
    switch ($event.type) {
      case 'login':
        //Open modal login
        //this.$store.commit('setLoginDialogShow', true);
        this.$router.push({
          name: 'ingresar',
          query: { from_path: this.$route.path }
        })
        break
      case 'logout':
        await this.logout()
        break
      case 'product':
        this.$router.push({ name: 'perfil-mis-pedidos' })
        break
      case 'profile':
        this.$router.push({ path: '/perfil' })
        break
      case 'store':
          this.$router.push({ name: 'perfil-mis-ventas' })
        break
    }
  }

  async logout() {
    try {
      //await this.$fire.auth.signOut()
      // @ts-ignore
      await this.$router.push({ name: 'logout' })
      //this.$router.push({name: 'logout'});
    } catch (e) {
      alert(e)
    }
  }

  getInitialName() {
    let main_initial_name = 'NA'
    if (this.authUser.displayName) {
      let nameLength = this.authUser.displayName.split(' ')
      let firtsName, lastName, initialName

      switch (nameLength.length) {
        case 2:
          firtsName = this.authUser.displayName.split(' ')[0]
          lastName = this.authUser.displayName.split(' ')[1]
          initialName = firtsName.substring(0, 1) + lastName.substring(0, 1)
          main_initial_name = initialName.toUpperCase()
          break
        case 4:
          firtsName = this.authUser.displayName.split(' ')[0]
          lastName = this.authUser.displayName.split(' ')[2]
          initialName = firtsName.substring(0, 1) + lastName.substring(0, 1)
          main_initial_name = initialName.toUpperCase()
          break
        default:
          main_initial_name = 'NA'
          break
      }
    }
    return main_initial_name
  }

}
</script>

<style lang="sass" scoped>

::v-deep .v-toolbar__content
    height: 54px !important

::v-deep .v-toolbar__extension
    display: none
.v-header-h
    height: 54px !important
    border-bottom: solid 1px
    border-bottom-color: #f0f0f0 !important

@media (max-width: 600px)
    ::v-deep .v-toolbar__extension
        display: block
        background-color: white
        border-bottom: solid 1px
        border-bottom-color: #f0f0f0 !important
    .v-header-h
        height: 1.1in !important //106px
        border-bottom: none !important
        position: relative !important
        .d-done-mobile
            position: absolute
            top: 55px
            width: 100% !important
            left: 0
            display: block !important
        //::v-deep .v-btn__content
            justify-content: flex-end !important

    .btn-search-header
        right: 4px !important

.btn-icon-header
    font-size: 30px !important
    color: #0DBDC8 !important
    .v-btn__content
        i
            font-size: 35px
    //transform: scale(1.4)
.btn-search-header
    background: #0DBDC8 !important
    border: solid 0 !important
    border-radius: 30px !important
    width: 34px !important
    height: 34px !important
    margin-top: 2px !important
    position: absolute !important
    right: 35px
    top: 1px
    i
        color: #fff !important

.v-header-conteiner
    margin-left: auto
    margin-right: auto
    padding-left: 4px
    padding-right: 4px
    align-items: center
    display: flex
    position: relative
    z-index: 0
    width: 100%
    max-width: 1180px
    min-width: 312px

.btn-search-header
    background: #0DBDC8 !important
    border: solid 0 !important
    border-radius: 30px !important
    width: 34px !important
    height: 34px !important
    margin-top: 2px !important
    position: absolute !important
    right: 35px !important
    top: 1px
    i
        color: #fff !important

.v-header-conteiner
    margin-left: auto
    margin-right: auto
    padding-left: 4px
    padding-right: 4px
    align-items: center
    display: flex
    position: relative
    z-index: 0
    width: 100%
    max-width: 1180px
    min-width: 312px

#search-input-amazon
    width: 100%
    height: 41px !important
    padding: 12px 24px
    background-color: transparent
    trasitions: transform 250ms ease-in-out
    color: #575756
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-size: 18px 18px
    background-position: 95% center
    border-radius: 25px
    border: 1px solid #ffab00 !important
    transition: all 250ms ease-in-out
    backface-visibility: hidden
    transform-style: preserve-3d

#search-input-amazon:focus
    padding: 12px 24px
    outline: 0
    border: 1px solid transparent
    border-bottom: 1px solid #ffab00 !important
    border-radius: 5px
    background-position: 98% center


/* Words container */
::v-deep .ac__inner
    background: #fcfcfc
    trasitions: transform 250ms ease-in-out


/* Individual word element */
::v-deep .ac__word
    margin: 0
    padding: 6px 12px 6px 12px
    border-left: 1px solid #ffab00 !important
    border-right: 1px solid #ffab00 !important

::v-deep .ac__word:first-child
    margin: 0
    padding: 6px 12px 6px 12px
    border-top: 0px solid #ffab00 !important

::v-deep .ac__word:last-child
    margin: 0
    padding: 12px
    border-bottom: 1px solid #ffab00 !important
    border-radius: 0 0 10px 10px

/* Word prefix style. It’s the span containing the search keyword within the word. */
::v-deep .ac__prefix
    font-weight: bold


/* Style applied to each words while navigating through the list or on hover */
::v-deep .ac__word--selected .ac__word:hover
    background-color: #e3e3e3

::v-deep .ac__word:hover
    //background-color: #FFCD66
    background-color: rgba(255, 205, 102, 0.36)

::v-deep .ac__word--selected
    background-color: rgba(255, 205, 102, 0.36)

</style>
