<template lang="pug">
  .div
    ais-instant-search-ssr
      ais-search-box
      //add the other components here

</template>

<script>
  import {AisInstantSearchSsr, createServerRootMixin, AisSearchBox } from 'vue-instantsearch';
  import algoliasearch from 'algoliasearch/lite'

  const searchClient = algoliasearch(
    'EJTBGYWH6R',
    '45be6173a9d5145d8d45ff68e59ff4c1'
  )

  function nuxtRouter(vueRouter) {
    return {
      read() {
        return vueRouter.currentRoute.query;
      },
      write(routeState) {
        // Only push a new entry if the URL changed (avoid duplicated entries in the history)
        if (this.createURL(routeState) === this.createURL(this.read())) {
          return;
        }
        vueRouter.push({
          query: routeState,
        });
      },
      createURL(routeState) {
        return vueRouter.resolve({
          query: routeState,
        }).href;
      },
      onUpdate(cb) {
        if (typeof window === 'undefined') return;

        this._onPopState = event => {
          const routeState = event.state;
          // On initial load, the state is read from the URL without
          // update. Therefore, the state object isn't present. In this
          // case, we fallback and read the URL.
          if (!routeState) {
            cb(this.read());
          } else {
            cb(routeState);
          }
        };
        window.addEventListener('popstate', this._onPopState);
      },
      dispose() {
        if (typeof window === 'undefined') return;

        window.removeEventListener('popstate', this._onPopState);
      },
    };
  }

  export default {
    data() {
      // Create it in `data` to access the Vue Router
      const mixin = createServerRootMixin({
        searchClient,
        indexName: 'prod_products',
        routing: {
          router: nuxtRouter(this.$router),
        },
      });
      return {
        ...mixin.data(),
      };
    },
    provide() {
      return {
        // Provide the InstantSearch instance for SSR
        $_ais_ssrInstantSearchInstance: this.instantsearch,
      };
    },
    serverPrefetch() {
      return this.instantsearch.findResultsState(this).then(algoliaState => {
        this.$ssrContext.nuxt.algoliaState = algoliaState;
      });
    },
    beforeMount() {
      const results =
              (this.$nuxt.context && this.$nuxt.context.nuxtState.algoliaState) ||
              window.__NUXT__.algoliaState;

      this.instantsearch.hydrate(results);

      // Remove the SSR state so it can't be applied again by mistake
      delete this.$nuxt.context.nuxtState.algoliaState;
      delete window.__NUXT__.algoliaState;
    },
    components: {
      AisInstantSearchSsr,AisSearchBox
      // Add your other components here
    },
  };
</script>
