<template lang="pug">
    div
        v-dialog(v-model='dialogLogin' max-width='430px')
            v-card(v-if='!isLoggedIn')
                v-card-title.justify-center
                    router-link(to="/").text-decoration-none
                        strong.secondary--text OfertaUp.com
                v-card-text.pa-4
                    v-tabs(color="secondary" centered)
                        v-tab REGISTRATE
                        v-tab INICIA SESIÓN
                        v-tab-item
                            v-container(fluid='')
                                v-row.ma-0
                                    v-col(cols='12' md='12').pb-0
                                        v-text-field(
                                            v-model="formData.first_name"
                                            label='Nombres'
                                            placeholder="Nombres"
                                            rounded
                                            single-line
                                            outlined
                                            dense)
                                        v-text-field(
                                            v-model="formData.last_name"
                                            label='Apellidos'
                                            placeholder="Apellidos"
                                            rounded
                                            single-line
                                            outlined
                                            dense)
                                        v-text-field(
                                            v-model="formData.email"
                                            label='email'
                                            placeholder="Email"
                                            rounded
                                            single-line
                                            outlined
                                            dense
                                            type='email'
                                            append-icon="mdi-email")
                                        v-text-field(
                                            v-model="formData.password"
                                            label='Contraseña'
                                            placeholder="Contraseña"
                                            single-line
                                            outlined
                                            rounded
                                            dense
                                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                                            :type="showPass ? 'text' : 'password'"
                                            @click:append="showPass = !showPass")
                                        v-btn(@click='createUser' rounded='' block elevation="1" color='primary')
                                            | CREAR CUENTA
                                        div.fm-sns-btns.pt-2
                                            div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                                                .fm-sns-item.google
                                            div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                                                .fm-sns-item.facebook

                        v-tab-item
                            v-container(fluid='')
                                v-row.ma-0
                                    v-col(cols='12' md='12').pb-0
                                        v-text-field(
                                            v-model="formData.email"
                                            label='email'
                                            placeholder="Email"
                                            rounded
                                            single-line
                                            outlined
                                            dense
                                            type='email'
                                            append-icon="mdi-email")
                                        v-text-field(
                                            v-model="formData.password"
                                            label='Contraseña'
                                            placeholder="Contraseña"
                                            single-line
                                            outlined
                                            rounded
                                            dense
                                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                                            :type="showPass ? 'text' : 'password'"
                                            @click:append="showPass = !showPass")
                                        v-btn(@click='signInUser' rounded='' block elevation="1" color='primary')
                                            | INICIAR SESIÓN
                                        div.fm-sns-btns.pt-2
                                            div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                                                .fm-sns-item.facebook
                                            div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                                                .fm-sns-item.google

            v-card(v-else)
                p You are logged in with {{ authUser.email }}.
                p You are logged in with {{ authUser.displayName }}.
                v-btn(color='primary') Logout

</template>

<script lang="ts">
    import { Component, Vue, State, Getter,Watch } from 'nuxt-property-decorator'

    @Component({
        components: {}
    })
    export default class AuthMain extends Vue {
        private dialogLogin = false;
        @Getter('isLoggedIn') public isLoggedIn:any;
        @State('authUser') public authUser:any;
        @State('isLoginDialogShow') public isLoginDialogShow:any;

        private showPass = false
        private formData = {
            email: '',
            password: '',
            first_name:"",
            last_name:""
        }

        mounted() {
            //console.log("==========>"+this.isLoggedIn)
            //this.dialog = !this.isLoggedIn
        }

        watch(){

        }

        @Watch("isLoginDialogShow", { immediate: true, deep: true })
        onShowDialogChanged(val:any, oldVal:any) {
            if(val){
                this.dialogLogin = val
            }
        }

        @Watch("dialogLogin", { immediate: true, deep: true })
        isDialogLogin(val:any, oldVal:any) {
            if(!val){
                this.$store.commit('setLoginDialogShow', val);
                this.formData = {
                    email: '',
                    password: '',
                    first_name:"",
                    last_name:""
                }
            }
        }

        async createUser() {
            try {
                await this.$fire.auth.createUserWithEmailAndPassword(
                    this.formData.email,
                    this.formData.password
                ).then(auth=>{
                    if (auth && auth.user){
                        auth.user.updateProfile({
                            displayName: this.formData.first_name+" "+this.formData.last_name,
                            photoURL: "",
                        }).then(()=>{
                            console.log(auth);
                            console.log("Updated Name and Photo");
                            this.dialogLogin = false;
                        }).catch((error)=>{
                            console.log(error);
                            alert(error)
                        });
                    }
                })
            } catch (e) {
                alert(e)
            }
        }

        async signInUser() {
            try {
                await this.$fire.auth.signInWithEmailAndPassword(
                    this.formData.email,
                    this.formData.password
                ).then((firebaseUser:any) =>{
                    console.log(firebaseUser)
                    this.dialogLogin = false;
                }).catch((error:any)=> {
                    console.log(error);
                    alert(error)
                });
            } catch (e) {
                alert(e)
            }
        }

    }
</script>

<style lang="sass" scoped>

    .fm-sns-btns
        padding: 0 30px
        overflow: hidden
        display: flex
        justify-content: center

    .fm-sns-item-wrap
        float: left
        margin: 20px

    .fm-sns-item
        display: flex
        margin: 0 auto
        width: 54px
        height: 54px
        background-image:  url(https://ae01.alicdn.com/kf/H44c0698a1944450a9ac158772a32fe1aN.png) //url('~@/assets/images/logo-social.png')
        background-repeat: no-repeat
        background-size: cover

    .google
        background-position: 0 -61px
    .facebook
        background-position: 0 0


    //::v-deep .v-input__control
        fieldset
            border-color: #c7c7c7
            border-width: 2px
        &:hover
            fieldset
                border-color: #aaaaaa
                border-width: 2px
        &:focus
            fieldset
                border-color: #0DBDC8
                border-width: 2px
</style>
