<template lang="pug">
    div
        v-row.ma-3(justify="center")
            v-col.text-center(md='8')
                v-alert(text type="error") No se puedo efectuar la compra.
                div Puedes intentar volver a comprar.
                .justify-center
                    v-btn.ma-2(v-if="product_id" rounded='' elevation="1" color='primary' :to="'/p/'+product_id")
                        | Volver a comprar
                    v-btn.ma-2(rounded='' elevation="1" color='secondary' to="/")
                        | Ver otros productos
</template>

<script lang="ts">
    import {Component, State, Vue, Watch} from "nuxt-property-decorator";
    import {OrdersServices} from "~/services/OrdersServices";

     @Component({
        layout: 'checkout',
        components: {}
    })
    export default class failure extends Vue  {

        private queryParams:any = null
        public ordersServices = new OrdersServices()
        public product_id:any = null

        /*collection_id=null&
        collection_status=null&
        payment_id=null&
        status=null&
        external_reference=TbcSIsWtxfBHgFJkyKSi&
        payment_type=null&
        merchant_order_id=null&
        preference_id=120600374-fc22f379-702e-47d4-85d6-5736f9661c25&
        site_id=MPE&
        processing_mode=aggregator&
        merchant_account_id=null*/

        created() {
            this.queryParams = this.$route.query
        }

        async mounted(){
            if(this.queryParams && this.queryParams.external_reference
                && this.queryParams.preference_id){
                    //@ts-ignore
                    let Order_id = this.$cookies.get(this.PARAMETERS.ORDER_ID);
                    if(Order_id){
                        //@ts-ignore
                        this.$cookies.remove(this.PARAMETERS.ORDER_ID);
                    }
                    let orderFailure = await this.ordersServices.updateOrder({
                        id:this.queryParams.external_reference,
                        state:0,
                        payment_status:"failure"})
                    this.product_id = orderFailure.docModel.product.id
            }else{
                 this.$router.push({ path: '/' })
            }
        }

    }
</script>

<style scoped>

</style>
