<template lang="pug">
    div
        v-row.ma-0
            v-col.text-left(cols='12' md='8').mt-0
                div.gray--border.mt-0
                    div.text-md-h6.font-weight-bold.pt-2.mx-md-6 Información de envío
                    div(v-if="stage.actual===1")
                        div.mx-md-6.pt-3.px-md-2(v-if="actual_address.first_name")
                            div {{actual_address.first_name}} {{actual_address.last_name}}
                            div {{actual_address.detail}}, {{actual_address.reference}}
                            div {{actual_address.department.name}}, {{actual_address.province.name}}, {{actual_address.district.name}}
                            div Dni: {{actual_address.dni_passport}}, Celular: {{actual_address.phone_number}}
                            div.mt-2
                                span.red--text.text-decoration-underline(@click="changeAddress" style="cursor: pointer;")  Cambiar de dirección
                    div(v-if="stage.actual===2")
                        div.mx-md-6.pt-6
                            div
                                strong(style="width: 50%;display: inline-block;") Selecciona una direccion
                                span(style="width: 50%;display: inline-block;").text-right
                                    v-btn(outlined x-small fab color='primary' @click="backAddress")
                                        v-icon mdi-window-close
                            div
                                v-radio-group(v-model="radioSelect")
                                    v-radio.pb-2.mb-1(@click="isRadioSelect(item.id)" v-for="item in addressList" :value="item.id" :key="item.id" style="border-bottom: solid 1px #dedede;")
                                        template(v-slot:label)
                                            div
                                                div {{item.first_name}} {{item.last_name}}
                                                div {{item.detail}}, {{item.reference}}
                                                div {{item.department.name}}, {{item.province.name}}, {{item.district.name}}
                                                div Dni: {{item.dni_passport}}, Celular: {{item.phone_number}}

                            div.mt-2.text-right
                                v-btn(rounded elevation="0" outlined color="primary"  @click="addAddress" dark)  Agregar nuevo
                    form(v-if="stage.actual===3" @submit.prevent="saveAddress")
                        div.mx-md-6.pt-6
                            div
                                span(style="width: 50%;display: inline-block;") Contacto
                                span(style="width: 50%;display: inline-block;").text-right
                                    v-btn(v-if="!isFirstAddress" outlined x-small fab color='primary' @click="backAddress")
                                        v-icon mdi-window-close
                            div.pt-2.d-flex
                                v-text-field.px-md-4(rounded dense outlined label="Nombres"
                                    v-model="$v.address.first_name.$model"
                                    @input="$v.address.first_name.$touch()"
                                    :error-messages="isSubmitted && (!$v.address.first_name.alphaWhiteDiacritic || !$v.address.first_name.minLength || !$v.address.first_name.required) ? ['Ingrese su nombre correcto.'] : []"
                                    type="text"
                                )
                                v-text-field.px-md-4(rounded dense outlined label="Apellidos"
                                    v-model="$v.address.last_name.$model"
                                    @input="$v.address.last_name.$touch()"
                                    :error-messages="isSubmitted && (!$v.address.last_name.alphaWhiteDiacritic || !$v.address.last_name.minLength || !$v.address.last_name.required) ? ['Ingrese su apellido correcto.'] : []"
                                    type="text"
                                )
                            div.d-flex
                                v-text-field.px-md-4(rounded dense outlined label="DNI/Pasaporte"
                                    v-model="$v.address.dni_passport.$model"
                                    @input="$v.address.dni_passport.$touch()"
                                    onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
                                    :error-messages="isSubmitted && (!$v.address.dni_passport.numeric || !$v.address.dni_passport.minLength || !$v.address.dni_passport.required) ? ['Ingrese su DNI correcto.'] : []"
                                )
                                v-text-field.px-md-4(rounded dense outlined label="WhatsApp"
                                    v-model="$v.address.phone_number.$model"
                                    @input="$v.address.phone_number.$touch()"
                                    type="numeric"
                                    onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
                                    :error-messages="isSubmitted && (!$v.address.phone_number.numeric || !$v.address.phone_number.minLength || !$v.address.phone_number.required) ? ['Ingrese su celular correcto.'] : []"
                                )
                        div.mx-md-6
                            div Dirección
                            div.pt-2.d-flex
                                v-text-field.px-md-4(rounded dense outlined label="Direccion"
                                    v-model="$v.address.detail.$model"
                                    @input="$v.address.detail.$touch()"
                                    :error-messages="isSubmitted && (!$v.address.detail.minLength || !$v.address.detail.required) ? ['Ingrese su direccion.'] : []"
                                    type="text"
                                )
                                v-text-field.px-md-4(rounded dense outlined label="Referencias"
                                    v-model="$v.address.reference.$model"
                                    @input="$v.address.reference.$touch()"
                                    :error-messages="isSubmitted && (!$v.address.reference.minLength || !$v.address.reference.required) ? ['Ingrese su direccion.'] : []"
                                    type="text"
                                )
                            div.d-flex.px-md-4.address-depart
                                //$v.address.department.$touch()
                                v-select.px-md-1(rounded hide-details dense outlined label="Departamento"
                                    v-model="$v.address.department.$model"
                                    @input="selectAddress({text:'departament',model:address.department})"
                                    :items="itemDepartament"
                                    item-text="name"
                                    item-value="id"
                                    return-object
                                    :error-messages="isSubmitted && !$v.address.department.required ? ['Ingrese su direccion.'] : []"
                                    type="text"
                                )
                                v-select.px-md-1(rounded hide-details dense outlined label="Provincia"
                                    v-model="$v.address.province.$model"
                                    @input="selectAddress({text:'province', model:address.province})"
                                    :items="itemProvince"
                                    item-text="name"
                                    item-value="id"
                                    return-object
                                    :error-messages="isSubmitted && !$v.address.province.required ? ['Ingrese su direccion.'] : []"
                                    type="text"
                                )
                                v-select.px-md-1(rounded hide-details dense outlined label="Distrito"
                                    v-model="$v.address.district.$model"
                                    @input="selectAddress({text:'district', model:address.district})"
                                    :items="itemDistrict"
                                    item-text="name"
                                    item-value="id"
                                    return-object
                                    :error-messages="isSubmitted && !$v.address.district.required ? ['Ingrese Distrito.'] : []"
                                    type="text"
                                )
                        div.text-right.mx-md-6.px-md-4
                            v-checkbox.box-defaludAdress(v-if="!isFirstAddress" v-model='defaludAdress' hide-details label='Guardar como direccion principal')
                            br(v-else)
                            v-btn(rounded elevation="0" color="primary" type="submit" :loading="loadingAdress" :disabled="loadingAdress" ) Guardar
                //div.gray--border.mt-2
                    div.text-md-h6.font-weight-bold.pt-2.mx-6 Métodos de pago
                    div.pt-3.px-4
                        v-radio-group(v-model="typePayment").text-center.d-flex.type-payment
                            v-radio(v-for="item in paymentList" @click="selectTypePayment(item)" :value="item.id" :key="item.title").payment-type.gray--border.ma-3.d-flex.aling-center
                                template(v-slot:label)
                                    div
                                        div.text-md-body-2.font-weight-light.mb-2 {{item.title}}
                                        img(:src="getImgUrl(item.icon)" width="100%" alt="")
                        div
                            div(v-if="typePayment")
                                div {{paymentSelect.description}}

                .gray--border.mt-2
                    div.text-md-h6.font-weight-bold.pt-2.mx-md-6 DETALLES DE PEDIDO
                    div.pt-6.px-md-4
                        v-card(elevation="0").mb-6
                            div(v-if="productDetail")
                                //div.font-weight-bold Pedido No. 207443751
                                div
                                    //div(style="width:50%;display: inline-block;").py-1.font-weight-medium Fecha 25/08/20
                                    //div(style="width:50%;display: inline-block;").py-1.text-right.font-weight-bold Pago Total: S/ 570,28
                                div(style="align-items: center; display: flex;")
                                    div(style="width:25%;").pa-2
                                        v-img(:src="productDetail.image")
                                    div(style="width:75%").pa-md-2
                                        div.my-1.font-weight-light {{productDetail.name}}
                                        div.my-3.d-flex.align-center
                                            span Cantidad:
                                            span(style="width:120px;")
                                                v-select(v-model="cantidad_model" :items="['1', '2', '3', '4']" @input="onChangeQuantity" label="Cantidad" hide-details="hide-details" rounded="rounded" dense="dense" outlined="outlined")
                                        .pb-2(v-if="productDetail['options'] && productDetail['options'].length>0")
                                            span(style="width:220px;display: inline-block;")
                                                v-select(@input="selectProduct"
                                                    v-model="productDetail['select_option']"
                                                    :items="productDetail['options']"
                                                    item-text="name"
                                                    label="Selecciona el tipo" hide-details="hide-details"
                                                    rounded="rounded" dense="dense" outlined="outlined" return-object)
                                            .red--text.text-caption(v-if="alert_select") *{{alert_select}}

                                        div.font-weight-medium  Precio:  S/ {{totalPrice}}
                                        div.py-1
                                            div(style="display:flex;align-items:center;")
                                                v-icon(color="green" style="font-size: 52px;").pr-4 mdi-cube-send
                                                span
                                                    div.subtitle-1.font-weight-regular(style="line-height: 20px;") Envío S/ {{shippingPayTotal}}
                                                    div.subtitle-2.font-weight-regular
                                                        span Recíbelo aprox el
                                                        span.pl-1.green--text {{shippingDate}}
                                        //div(style="display:flex;align-items: center;").py-1
                                            div(style="display:flex;align-items:center;width: 80%;")
                                                v-avatar(width="42px" height="42px")
                                                    img(src="https://cdn.vuetifyjs.com/images/john.jpg"  alt="John")
                                                span.pl-3
                                                    div.grey--text.text--darken-1.text-md-body-2 Vendedor
                                                    div.primary--text.text-md-body-2  Jhanet Miranda Milan
                                            div(style="width: 20%;display: flex;")
                                                img(src="@/assets/images/wtsapp.png" width="30px" alt="")
                                                span
                                                    v-icon(color="red" style="font-size: 30px;") mdi-seal

            v-col(cols='12' md='4').mt-0
                div
                    v-card(elevation="1").pa-4.mt-0
                        div.pb-4.font-weight-bold RESUMEN DE TU PEDIDO
                        div.amount-pay
                            span.txt(style="width:50%;display: inline-block;") Subtotal
                            strong.amount.text-right.text-md-subtitle-1.font-weight-bold(style="width:50%;display: inline-block;") S/ {{totalPrice}}
                        div.pb-4.amount-pay
                            span.txt(style="width:50%;display: inline-block;") Descuento
                            strong.amount.text-right.text-md-body-1.text-decoration-line-through.grey--text.text--darken-1(style="width:50%;display: inline-block;") S/ {{discountAmount}}
                        div.pb-4.amount-pay
                            span.txt(style="width:50%;display: inline-block;") Envio
                            strong.amount.text-right.text-md-subtitle-1.font-weight-bold(style="width:50%;display: inline-block;") S/ {{shippingPayTotal}}
                        //div.pb-4.amount-pay
                            span.txt.text-decoration-underline.text-md-body-2 Calcular envio
                            //span.amount S/0.00
                        //div.pb-4.amount-pay
                            span.txt.text-decoration-underline.text-md-body-2 Ingresa un código de promoción
                            //span.amount S/0.00
                        div.pb-4.amount-pay
                            span.txt(style="width:50%;display: inline-block;") PAGO TOTAL
                            strong.amount.text-right.text-md-h6(style="width:50%;display: inline-block;") S/ {{totalToPay}}
                        div
                            v-radio-group(v-model="typePayment")
                                v-radio(v-for="item in simplePaymentList" @click="selectTypePayment(item)" :value="item.id" :key="item.title")
                                    template(v-slot:label)
                                        div
                                            div.text-md-body-1.font-weight-light.black--text.mb-2 {{item.title}}
                                            div.d-flex
                                                img.mx-1(v-if="item.image" :src="getImgUrl(item.image)" width="60" height="16.078" alt="")
                                                img.mx-1(:src="getImgUrl(item.icon)" width="60" height="16.078" alt="")

                            div
                                div(v-if="paymentSelect")
                                    //div {{paymentSelect.image}}
                                    div.gray--border.ma-2.text-center
                                        img.mx-1(v-if="paymentSelect.ditail_img" :src="getImgUrl(paymentSelect.ditail_img)" width="90" height="33.047" alt="")
                                        v-icon(v-else large color='green') {{paymentSelect.icon_md}}
                                        div.font-weight-light {{paymentSelect.description}}
                        div.pb-4.pt-4.text-center
                            div.red--text(v-if="isErrorCheckout") *{{checkoutMsg}}
                            v-btn.ma-2(v-if="typePayment === '1'" rounded color='primary' :loading="loadingToBuy" :disabled="loadingToBuy" @click="goCreatePay") Procesar compra
                            v-btn.ma-2(v-else rounded color='green' :loading="loadingToBuy" :disabled="loadingToBuy" @click="goWhatsApp")
                                .white--text Solicitar compra

                    div.mt-4.text-center.text-caption Al hacer clic en "Procesar compra", confirmo que he leído y acepto los Términos y Condiciones.
                    div.gray--border.pa-4.mt-4.text-center
                        div OfertaUp.com mantiene seguros tu información y tu pago
                        img(src="@/assets/images/sure_pay.png" style="width:180px").ma-2
</template>

<script lang="ts">
    import {Component, State, Vue, Watch} from "nuxt-property-decorator";
    import { required, minLength, between, helpers, numeric } from 'vuelidate/lib/validators';
    import { validationMixin } from "vuelidate";
    export const alphaWhiteDiacritic = helpers.regex('alphaWhiteDiacritic', /^[a-zA-ZÀ-ž\s]*$/);

    import {UserServices} from '~/services/UserServices';
    import {ProductService} from "~/services/ProductService";
    import {RegionServices} from "~/services/RegionServices";
    import {OrdersServices} from "~/services/OrdersServices";
    import {ValidationCheckout} from "~/util/ValidationCheckout";
    import moment from "moment";
    import "moment-timezone";
    moment.locale('es-do');

    @Component({
        layout: 'checkout',
        components: {},
        mixins:[validationMixin],
        validations: {
            address:{
                first_name: { required, minLength: minLength(4), alphaWhiteDiacritic },
                last_name:{ required, minLength: minLength(4), alphaWhiteDiacritic },
                phone_number: { required, minLength: minLength(9), numeric},
                detail: { required, minLength: minLength(9) },
                reference: { required, minLength: minLength(9) },
                dni_passport:{required,minLength: minLength(8), numeric},
                department: { required },
                province: { required },
                district: { required },
            }
        },
    })
    export default class checkout extends Vue {
        @State('authUser') public authUser!:any
        @State('detailProduct') public detailProductStore!:any

        private userServices = new UserServices()
        public productService = new ProductService()
        public regionServices = new RegionServices()
        public ordersServices = new OrdersServices()
        public validationCheckout = new ValidationCheckout()

        public loadingToBuy = false
        public loadingAdress = false
        public date_format = "YYYY-MM-DDTHH:mm:ss.SSSZ"
        public checkoutMsg = ""
        public isErrorCheckout = false
        public isSubmitted = false
        private defaludAdress = false
        private isFirstAddress = true
        private radioSelect = ""

        public address = {
            first_name: "",
            last_name:"",
            dni_passport:"",
            phone_number: "",
            detail: "",
            reference: "",
            department: "",
            province: "",
            district: "",
            location:'',
            default:true,
            user_id:'',
            id:'',
            created_at:''
        }

        private itemDepartament:any = []
        private itemProvince:any = []
        private itemDistrict:any = []
        private actual_address:any = null
        private addressList:any = []
        private typePayment = "1"
        private paymentSelect:any = {}
        private paymentList = [
            {
                title:"Tarjetas",
                code:'tarjetas',
                icon:"credit-card.png",
                id:"1",
                description:"EL pago lo realizaras por medio de Mercado pago",
            },
            {
                title:"Transferencia Bancaria",
                code:'transferencia-bancaria',
                icon:"banks.png",
                id:"2",
                description:"Cuentas de tranferencia bancaria: BCP, interbank, scotiabank",
            },
            {
                title:"Banca Móvil",
                icon:"mobile-bank.png",
                id:"3",
                description:"Puedes realizar el pago por yape y plin",
            }
        ]
        //gym mdiWeightLifter
        private simplePaymentList = [
            {
                title:"Tarjeta de Credito o Debito",
                icon:"credit-card.png",
                id:"1",
                code:'mercadopago-cards',
                description:"Te llevaremos a MercadoPago para completar tu pago",
                image:"mercadopago.png",
                ditail_img:"redirect_checkout.png"
            },
            {
                title:"Transferencia Bancos o Agentes",
                icon:"banks.png",
                id:"2",
                code:'bank-transfer',
                description:"Te llevaremos a nuestro Whatsapp para enviarte las cuentas",
                icon_md:"mdi-whatsapp"
            },
        ]

        private cantidad_model:any = '1'
        private select_option:any = '1'

        private stage = {
            actual:3,
            before:0
        }
        //main_detail main_shopcart
        private queryParams:any = {
            objectId: "",
            orderFrom: "",
            quantity: "1"
        }
        private productDetail:any = null
        private totalPrice:any = 0
        private discountAmount:any = 0
        private totalToPay:any = 0
        private shippingPay:any = 0
        private shippingPayTotal:any = 0
        private shippingPayDefould:any = 0
        private shippingDate:any = "...por calcular";//moment().format("LL");
        private LocalMoney = "PEN"
        private unit_amount:any = 0
        private PARAMETERS = {
            ORDER_ID:"ORDER_ID"
        }
        private alert_select:any = null

        created() {
            this.initFunction()
        }

        async initFunction(){
            await this.getDetailProduct()
            this.queryParams = this.$route.query
            await this.getAddress()
            await this.getAddressAll()
            this.paymentSelect = this.simplePaymentList[0]
            /*if(this.detailProduct){
                this.cantidad_model = this.detailProduct.quantity_buy
            }*/
            await this.getDepartment()
            await this.onChangeQuantity()
            await this.updateCookiesPendingOrder()
            //this.paymentSelect = this.paymentList.find(vl=>vl.id==this.typePayment)
        }

        mounted () {

            //let mercadopago = require ('mercadopago');
            /*mercadopago.configure({
                access_token: 'TEST-3943912916117679-120819-57f5200cfc3f06bebe676d2635451a24-120600374'
            });*/
            this.isSubmitted = false;
        }

        /*activated(){
            console.log(this.$route.query)
            //this.getDetailProduct()
            console.log("activated")
        }

        deactivated(){
            console.log("deactivated")
        }*/

        //@Watch("radioSelect", { immediate: true, deep: true })
        async isRadioSelect(id:any) {
            this.actual_address = this.addressList.find((vl:any) => vl.id === id)
            await this.backAddress()
        }


        async getAddress(){
            let param = {
                id:this.authUser.uid
            }
            let snapshot = await this.userServices.getAddress(param)
            await snapshot.forEach((doc:any)=>{
                this.actual_address = doc.data()
                this.radioSelect = doc.data().id
                /*if(this.actual_address.district.price){
                    this.shippingPay = parseFloat(this.actual_address.district.price)
                }else {
                    this.shippingPay = this.shippingPayDefould
                }*/
                this.stage.actual = 1
                this.isFirstAddress = false
                if(this.productDetail && this.productDetail.shipping && this.productDetail.shipping.arrival_days){
                    let daysMax = this.productDetail.shipping.arrival_days
                    this.shippingDate = moment().add(parseInt(daysMax),'days').format("LL");
                }else {
                    this.shippingDate = "...por calcular";
                }
            })
            //await this.getDetailProduct()
        }

        async saveAddress(){

            //@ts-ignore
            this.$v.address.$touch()
            this.isSubmitted = false;
            this.loadingAdress = true
            //@ts-ignore
            if (this.$v.address.$invalid) {
                //this.submitStatus = 'ERROR'
                this.isSubmitted = true
                this.loadingAdress = false
                return
            }

            if(!this.isFirstAddress){
                if(this.defaludAdress){
                    this.address.default = true
                    let address = await this.$fire.firestore
                        .collection("addresses")
                        .doc(this.actual_address.id);
                     await address.update({default: false})
                }else {
                    this.address.default = false
                }
            }else {
                this.address.default = true
            }

            this.address.user_id = this.authUser.uid
            let param = this.address
            this.userServices.setAddress(param).then((vl)=>{
                this.address.id = vl.docId
                this.addressList.push(this.address)
                this.radioSelect = this.address.id
                this.actual_address = this.address
                this.stage.actual = 1
                this.isFirstAddress = false
                this.updateShipping()
                this.onChangeQuantity()
                this.loadingAdress = false
            }).catch((error:any)=>{
                console.error("Error adding document: ", error);
            });

        }

        async updateShipping(){
            let district:any = this.address.district
            let department:any =this.address.department
            /*if(district.price){
                this.shippingPay = parseFloat(district.price)
            }else {
                this.shippingPay = this.shippingPayDefould
            }*/
            if(this.productDetail && this.productDetail.shipping && this.productDetail.shipping.arrival_days){
                let daysMax = this.productDetail.shipping.arrival_days
                this.shippingDate = moment().add(parseInt(daysMax),'days').format("LL");
            }else {
                this.shippingDate = "...por calcular"
            }
        }

        async getAddressAll(){
            let param = {
                id:this.authUser.uid,
            }
            this.addressList = []
            let snapshot = await this.userServices.getAddressAll(param)
            await snapshot.forEach((doc:any)=>{
                this.addressList.push(doc.data())
                this.isFirstAddress = false
            })

        }

        async changeAddress(){
            this.stage.actual = 2
            this.stage.before = 1
            if(this.addressList.length<2){
                this.stage.actual = 3
            }
        }

        async addAddress(){
            this.stage.actual = 3
            this.stage.before = 2
            this.defaludAdress = false
        }

        async backAddress(){
            this.stage.actual = this.stage.before
            --this.stage.before
        }

        async selectTypePayment(item:any){
            this.paymentSelect = item
        }

        onlyNumber ($event:any) {
            //console.log($event.keyCode); //keyCodes value
            let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46 && keyCode !== 44) { // 46 is dot
                $event.preventDefault();
            }
        }

        onlyText ($event:any){
            let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if (!((keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode == 32))) { // 46 is dot
                $event.preventDefault();
            }
        }

        getImgUrl(pet:any) {
            try {
                // @ts-ignore
                let images = require.context('@/assets/images/', false, /\.png$/);
                return images('./' + pet);
            }catch (e) {
                return ''
            }
        }

        async onChangeQuantity(){
            if(this.productDetail){
                this.unit_amount = parseFloat(this.productDetail.discount.amount).toFixed(2)
                let price = Math.floor((this.unit_amount * parseFloat(this.cantidad_model)) * 100) / 100
                let disAmount:any = parseFloat(this.productDetail.price).toFixed(2)
                this.totalPrice = price.toFixed(2)
                this.discountAmount = (Math.floor((disAmount * parseFloat(this.cantidad_model)) * 100) / 100).toFixed(2)
                this.shippingPayTotal = (parseFloat(this.productDetail.shipping.price) * parseInt(this.cantidad_model)).toFixed(2)
                this.totalToPay = (parseFloat(this.totalPrice) + parseFloat(this.shippingPayTotal)).toFixed(2)
            }
        }

        validateQuantity(){
            if(!this.$route.query.quantity){
                this.cantidad_model = "1"
            }else {
                if(this.$route.query.quantity=="0"){
                    this.cantidad_model = "1"
                } else {
                    this.cantidad_model = this.$route.query.quantity
                }
            }
            if(this.productDetail){
               this.productDetail['quantity_buy'] = this.cantidad_model
            }
        }

        validateOption(){
            if(this.productDetail['options'] && this.productDetail['options'].length>0){
                if(this.$route.query.optionId && this.$route.query.optionId!=='0'){
                    this.productDetail['select_option'] = this.productDetail['options'].find(vl=>vl.id==this.$route.query.optionId)
                    this.productDetail['image'] = this.productDetail['select_option'].image
                    if(this.productDetail['options'][0]['price']){
                        this.productDetail['discount']['amount'] = parseFloat(this.productDetail['options'].find(vl=>vl.id == this.$route.query.optionId).price)
                    }
                }else {
                    this.alert_select = "Debe seleccionar una opción"
                }
            }
        }

        async selectProduct($event){
            this.productDetail['image'] = $event.image
            if(this.productDetail['options'] && this.productDetail['options'][0]['price']){
                this.productDetail['discount']['amount'] = parseFloat(this.productDetail['options'].find(vl=>vl.id == $event.id).price)
                await this.onChangeQuantity()
            }
            this.alert_select = null
        }

        async getDetailProduct(){
            if (this.detailProductStore && this.$route.query &&
                (this.$route.query.objectId === this.detailProductStore.id)){
                this.productDetail = {...this.detailProductStore}
                //console.log(this.productDetail)
            }else {
                let param = { id: this.$route.query.objectId }
                let snapshot = await this.productService.getAllDetailProduct(param)
                await snapshot.forEach((doc: any) => {
                    this.productDetail = doc.data()
                })
            }
            this.validateQuantity()
            this.validateOption()
            //await this.onChangeQuantity()
        }

        async getDepartment(){
            let snapshot = await this.regionServices.getDepartment()
            await snapshot.forEach((doc: any) => {
                this.itemDepartament.push(doc.data())
            })
        }

        async selectAddress(item:any){
            switch (item.text) {
                case 'departament':
                    this.itemProvince = []
                    this.itemDistrict = []
                    this.address.district = ""
                    this.address.province = ""
                    let province = await this.regionServices.getProvince(item.model)
                    await province.forEach((doc: any) => {
                        this.itemProvince.push(doc.data())
                    })
                break;
                case 'province':
                    this.itemDistrict = []
                    this.address.district = ''
                    let district = await this.regionServices.getDistrict(item.model)
                    await district.forEach((doc: any) => {
                        this.itemDistrict.push(doc.data())
                    })
                break;
                case 'district':

                break;
            }
        }

        async goWhatsApp(){
            this.loadingToBuy = true
            let resOrder = await this.createOrder()
            if(resOrder && resOrder.docId && !resOrder.isError){
                //let href = "https://api.whatsapp.com/send?phone=51947392421&text="+
                let href = "https://api.whatsapp.com/send?phone=51900722405&text="+
                    "Hola, deseo pagar por transferencia. *Producto*: "+"https://www.ofertaup.com/p/"+this.productDetail.id +
                    " *Cantidad*: " +this.cantidad_model+" *Codigo de Orden*: " +resOrder.docId;
                window.open(href,'_blank');
                //TODO
                this.$router.push({ path: '/perfil' })
                //window.location.href
                this.loadingToBuy = false
            }

        }

        async createOrder(){
            let validateModel = this.validationCheckout.isModelCheckout(
                this.actual_address,this.authUser,
                this.productDetail,this.unit_amount,
                this.cantidad_model,this.shippingPayTotal,
                this.totalPrice,this.totalToPay,this.shippingDate,
                this.paymentSelect, this.alert_select)

            if(validateModel.isError){
                this.isErrorCheckout = true
                this.loadingToBuy = false
                this.checkoutMsg = validateModel.message
                return validateModel
            }else {
                this.isErrorCheckout = false
                this.checkoutMsg = ""
            }

            let order = {
                address_id:this.actual_address.id,
                customer_id:this.authUser.uid,
                summary:{
                    subtotal:this.totalPrice,
                    ship_pay:this.shippingPayTotal,
                    total:this.totalToPay,
                },
                product: {
                    id:this.productDetail.id,
                    name:this.productDetail.name,
                    image:this.productDetail.image,
                    quantity:parseInt(this.cantidad_model),
                    select_option:this.productDetail['select_option']?this.productDetail['select_option']:'default'
                },
                //date:moment().format("YYYY-MM-DDTHH:mm:ss.SSSZ"),
                //details:"",
                discount_code:"",
                shipping:{
                    arrival_date:this.shippingDate,//diferent to ...por calcular
                    ship_date:moment().format(this.date_format),
                    status:"Procesando envio", //Entregado, Enviado, reenviar, Cancelado, Procesando pago, Procesando envió
                },
                payment:{
                    date_created:moment().format(this.date_format),
                    date_approved:"",
                    id:this.paymentSelect.id,
                    title:this.paymentSelect.title,
                    code:this.paymentSelect.code,
                    method_payment_id:"",
                    status:"pending"//pending,success,failure,Cancelado
                },
                state:1, //1 enable, 0 disabled
                //status:"created",//cancelled,payment-failed,refund
            }
            return await this.ordersServices.setCreateOrder(order)

        }
        async goCreatePay() {
            this.loadingToBuy = true
            let param_pago = {
                items: [
                    {
                        id: this.productDetail.id,
                        title: this.productDetail.short_name,
                        currency_id: this.LocalMoney,
                        picture_url: this.productDetail.image,
                        description: this.productDetail.short_name,
                        category_id: "others",
                        quantity: parseInt(this.cantidad_model),
                        unit_price: Number(this.unit_amount)
                    }
                ],
                payer:{
                    name: this.authUser.displayName.split(" ")[0],
                    surname: this.authUser.displayName.split(" ")[1],
                    email: this.authUser.email,
                    date_created: moment().format(this.date_format),
                },
                shipments:{
                    cost: Number(this.shippingPayTotal),
                    mode: "not_specified",
                },
                external_reference:"",
                expiration_date_from:moment().format(this.date_format),
                expiration_date_to:moment().add(1, 'days').format(this.date_format),
                base_back_urls: "https://www.ofertaup.com/checkout/" //"http://localhost:3000/checkout/"
            }
            //console.log(param_pago)

            //this.$fire.functions.useEmulator('localhost',5001)
            try {
                let resOrder = await this.createOrder()
                let getCall
                if(resOrder && resOrder.docId && !resOrder.isError){
                    param_pago.external_reference = resOrder.docId
                    getCall = await this.$fire.functions.httpsCallable('payment')(param_pago)
                    if(getCall.data && getCall.data.body && getCall.data.body.init_point){
                        //await this.$router.replace(getCall.data.body.init_point)
                        await this.ordersServices.updateOrder({id:resOrder.docId,payment_link:getCall.data.body.init_point})
                        setTimeout(() => {this.loadingToBuy = false}, 2000)
                        //console.log(getCall.data)
                        window.location.href = getCall.data.body.init_point

                        this.saveCookiesOrderId(resOrder.docId)
                    }

                }
            } catch (e) {
                console.log(e)
            } finally {
                //this.loading = false
            }
        }

        saveCookiesOrderId(resOrder_id:any){
            //@ts-ignore
            this.$cookies.remove(this.PARAMETERS.ORDER_ID)
            let CurrentDate = new Date();
            CurrentDate.setMonth(CurrentDate.getMonth()+1);
            //@ts-ignore
            this.$cookies.set(this.PARAMETERS.ORDER_ID,resOrder_id,{
                path: '/',
                expires: CurrentDate,
                sameSite:true
            })
        }

        async updateCookiesPendingOrder(){
            //@ts-ignore
            let Order_id = this.$cookies.get(this.PARAMETERS.ORDER_ID);
            if(Order_id){
                //@ts-ignore
                this.$cookies.remove(this.PARAMETERS.ORDER_ID);
                await this.ordersServices.updateOrder({
                    id:Order_id,
                    state:0,
                    payment_status:"failure"})
            }
        }

    }
</script>

<style lang="sass" scoped>

    @media (max-width: 600px)
        .address-depart
            ::v-deep .v-select__selection--comma
                //margin-left: -16px !important
            ::v-deep .v-select__selections
                display: contents !important
                //input
                    width: 0px !important
            ::v-deep .v-input__append-inner
                position: absolute !important
                top: 0 !important
                right: 0 !important
            ::v-deep .v-input__slot
                padding-left: 4px !important
                padding-right: 1px !important
                fieldset
                    min-width: 0px !important
                    legend
                        margin-left: -11px !important

    .gray--border
        border: solid 1px
        border-radius: 8px !important
        padding: 10px
        border-color: #e0e0e0
    .payment-type
        width: 190px
        height: 90px
    .affix-absolute
        position: relative!important
        left: 0
        right: 0
    .affix-fix
        position: fixed!important
        top: 16px
        width: 348.8px
        z-index: 1
    .type-payment
        ::v-deep .v-input--radio-group__input
            flex-direction: initial
            overflow-y: scroll
        ::v-deep .v-radio
            padding: 4px

    .box-defaludAdress
        ::v-deep .theme--light
            flex: none !important
</style>
