<template lang="pug">
    div
        v-row.ma-3(justify="center")
            v-col.text-center(md='8')
                v-alert(text type="success") La compra se realizó de forma conforme.
                .justify-center
                    v-btn.ma-2(rounded='' elevation="1" color='primary' to="/perfil/mis-pedidos")
                        | Ver Mis Pedidos
                    v-btn.ma-2(rounded='' elevation="1" color='secondary' to="/")
                        | Seguir comprando
</template>

<script lang="ts">
    import {Component, State, Vue, Watch} from "nuxt-property-decorator";

    @Component({
        layout: 'checkout',
        components: {}
    })
    export default class success extends Vue {


        // collection_id=1232872018
        // collection_status=approved
        // payment_id=1232872018
        // status=approved
        // external_reference=2UZTPW1ZCE0xKCxodMaO
        // payment_type=credit_card
        // merchant_order_id=2228642047
        // preference_id=120600374-8549c149-9b00-4f20-ab05-846e8e5c5853
        // site_id=MPE
        // processing_mode=aggregator
        // merchant_account_id=null
        private PARAMETERS = {
            ORDER_ID:"ORDER_ID"
        }
        private queryParams:any = null

        created() {
            this.queryParams = this.$route.query
        }
        async mounted(){
            if(this.queryParams && this.queryParams.payment_id && this.queryParams.status
                && this.queryParams.external_reference && this.queryParams.merchant_order_id){
                //@ts-ignore
                let Order_id = this.$cookies.get(this.PARAMETERS.ORDER_ID);
                if(Order_id){
                    //@ts-ignore
                    this.$cookies.remove(this.PARAMETERS.ORDER_ID);
                }
                //let getCall = await this.$fire.functions.httpsCallable('ipn_approved')({topic:'payment',id:this.queryParams.payment_id})
                await this.$fire.functions.httpsCallable('ipn?topic=payment&id='+this.queryParams.payment_id)({})
            }else {
                this.$router.push({ path: '/' })
            }
        }
    }
</script>

<style scoped>

</style>
