<template lang="pug">
    div.mb-12
        v-row.ma-0
            div.font-weight-bold.mt-md-4.mb-1.pt-md-4(style="display:flex;align-items:center;").text-h6.text-md-h5
                img(src="@/assets/images/icon-lightning.png" style="width:18px").ma-2
                span Productos de {{categoryTitle}}
        v-row.ma-0(style="" justify="center").pt-2.pb-8
            v-col(v-if="productsByCategory.length>0" v-for="itemBest in productsByCategory" :key="itemBest.id").pa-1.py-2.cols-5
                //router-link(:to="'/p/'+itemBest.id").text-decoration-none
                v-card(tile='' elevation='0' @click="goToDetailProduct(itemBest)").gray--border
                    v-img(:src="itemBest.image")
                    div.my-2.font-weight-medium(style="line-height: 21px;").text-truncate-2-line {{itemBest.name}}
                    div.text-md-h6.font-weight-bold S/ {{itemBest.discount.amount.toFixed(2)}}
                    div.pb-2
                        span.pa-1.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{itemBest.price.toFixed(2)}}
                        span.red--text.px-1 -{{itemBest.discount.title}}
                    div.py-2
                        v-icon(color="secondary") mdi-star
                        span.grey--text.text--darken-3 {{itemBest.rating_avg}} | {{itemBest.quantity_sold}} vendido

            v-col(v-if="productsByCategory.length>0" style="text-align: center;" cols="12").mt-5
                v-btn( v-if="isShowBtn" @click='onPageChange' outlined rounded='' elevation="o" color='primary') Ver más productos

            v-col(v-if="productsByCategory.length<=0")
                div(style="text-align: center;")
                    img(src="@/assets/images/busqueda-sin-resultado.png" style="width:280px;display: inline-block;")
                    div.grey--text.text--darken-3.text-subtitle-1.text-md-h6.font-weight-medium No hay productos en la categoría
                    div.grey--text.text--darken-3.text-subtitle-2.text-md-subtitle-1.font-weight-light Haz clic abajo para volver al principio y ver nuestros productos disponibles.
                    br
                    v-btn.ma-0(large rounded="" @click="goHome" elevation="1" color="primary") Ver productos de la tienda
            //v-col(v-if="productsByCategory.length>0" cols="12")
                v-pagination(v-model="page" :length="6" @input="onPageChange")

</template>

<script lang="ts">
    import { Component, Vue } from 'nuxt-property-decorator'
    import { CategoryServices } from '~/services/CategoryServices'
    import { ProductService } from '~/services/ProductService'
    import {FIREBASE} from "~/config/HttpBase";

    @Component({
        components: {}
    })
    export default class Category extends Vue {

        public productsByCategory?: any
        public categoryTitle?: any = 'categoria'
        public categoryObject?: any = {}
        public productLast?: any = {}
        public page:any = 1
        private isShowBtn = true

        mounted() {
            //this.dialog = !this.isLoggedIn
           this.getData()
        }

        async getData(){
            //let getCall = await this.$fire.functions.httpsCallable('payment')()
        }

        // @ts-ignore
        async asyncData({app,route, redirect}) {
            //FIREBASE.baseFirestore = app.$fire.firestore
            let categoryServices = new CategoryServices()
            let productService = new ProductService()
            let path = route.params.id

            let docRef = await categoryServices.getCategoryByPath(path)
            let categories:any = []
            let productList:any = []
            let categoryRef:any = ""
            await docRef.forEach((doc: any) => {
                categories.push({
                    title: doc.data().name,
                    id: doc.data().id
                })
                categoryRef = doc.data().name
            })
            if(categories.length > 0){
                let productRef = await productService.getAllProductsCategory(categories)
                productRef.forEach((doc: any) => {
                    productList.push(doc.data())
                })
            }else {
                redirect(302, '/');
            }
            return {
                productsByCategory: productList,
                categoryTitle: categoryRef,
                categoryObject:categories,
                productLast:productList[(productList.length-1)]
            }
        }

        async goToDetailProduct($item: any) {
            await this.$router.push({ path: '/p/' + $item.id })
        }

        goHome(){
            this.$router.push({path:'/'})
        }

        /** TODO create function pagination with agolia*/
        async onPageChange(){
            let productService = new ProductService()
            this.productLast = this.productsByCategory[this.productsByCategory.length-1]
            let param = {
                categories:this.categoryObject,
                product_id:this.productLast.id ? this.productLast.id:''
            }
            let productRef = await productService.getNextProductsCategory(param)
            productRef.forEach((doc: any) => {
                this.productsByCategory.push(doc.data())
            })
            this.isShowBtn = !(productRef.docs.length === 0)
        }

    }
</script>

<style lang="sass" scoped>
    @media (max-width: 600px)
        .cols-5
            width: 50% !important
            display: inline-block
            flex-grow: initial !important

    .cols-5
        width: 18%
        display: inline-block
        flex-grow: initial !important

    .text-truncate-2-line
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 2
        display: -webkit-box
        -webkit-box-orient: vertical
    .gray--border
        border: solid 1px
        border-radius: 8px !important
        padding: 10px
        border-color: #e0e0e0
</style>
