<template lang="pug">
    v-app.adminContainer.auth
        //Header
        .v-header-auth.pt-4
            .sub-header
                router-link(to="/").text-decoration-none.ml-4.text-h6.text-md-h5
                    strong.logo-text Ofertaup.com
        nuxt
</template>
<script>

    //import Header from "~/components/auth/Header.vue"
    import {FIREBASE} from "~/config/HttpBase";
    import {Component, State, Vue} from "nuxt-property-decorator";

    @Component({
        components: {}
    })
    export default class auth extends Vue {
        created() {
            FIREBASE.baseFirestore = this.$fire.firestore
        }
    };
</script>
<!--
<style lang="stylus" src="~/assets/styles/auth.styl"></style>-->
<style lang="sass" scoped>
  .auth
    @media (max-width: 600px)
        .logo-text
            color: #ffab00 !important
        .v-header-auth
            margin-top: 20px !important

    @media screen and (min-width: 1024px)
      html.has-aside-left.has-aside-expanded nav.navbar, html.has-aside-left.has-aside-expanded body
        padding-left: 0

    .v-header-auth
        position: absolute
        z-index: 10
        color: white
    .logo-text
        color: #ffffff
</style>
