<template lang="pug">
    v-app.adminContainer
        .v-header-checkout.pt-4
            .sub-header
                .logo(style="")
                    router-link(to="/").text-decoration-none.ml-4.text-h6
                        img(:src="require('@/assets/images/isologo.svg')" alt='' style='height: 33px;')
                .user(style="")
                    v-btn(icon)
                        v-avatar(v-if="authUser" size="38" color='secondary')
                            span.white--text {{getInitialName()}}
                    span(v-if="name")   {{name}}
        v-main.v-main-conteiner
            nuxt
        main-footer
</template>

<script lang="ts">
    import MainFooter from "~/components/main/MainFooter.vue";
    import {FIREBASE} from "~/config/HttpBase";
    import {Component, State, Vue} from "nuxt-property-decorator";

    @Component({
        components: {MainFooter}
    })
    export default class checkout extends Vue {
        @State('authUser') public authUser:any;

        private name = ""
        created() {
            FIREBASE.baseFirestore = this.$fire.firestore
        }

        getInitialName(){
            let main_initial_name = "NA"
            if (this.authUser.displayName){
                let nameLength = this.authUser.displayName.split(" ");
                let firtsName, lastName, initialName

                switch (nameLength.length) {
                    case 2:
                        firtsName = this.authUser.displayName.split(" ")[0]
                        lastName = this.authUser.displayName.split(" ")[1]
                        this.name = firtsName + " " + lastName
                        initialName = firtsName.substring(0, 1) + lastName.substring(0, 1)
                        main_initial_name = initialName.toUpperCase()
                        break;
                    case 4:
                        firtsName = this.authUser.displayName.split(" ")[0]
                        lastName = this.authUser.displayName.split(" ")[2]
                        this.name = firtsName + " " + lastName
                        initialName = firtsName.substring(0, 1) + lastName.substring(0, 1)
                        main_initial_name = initialName.toUpperCase()
                        break;
                    default:
                        main_initial_name = "NA"
                        break;
                }
            }
            return main_initial_name
        }
    }
</script>

<style lang="sass" scoped>

    @media (min-width: 600px)
        .adminContainer
            .col-sm-2
                flex: 0 0 13.666667%
                max-width: 16.6666666667%

        .v-input__control
            .v-input__slot
                margin: 0
        .v-text-field__details
            display: none

        .selector-state
            width: 0
            margin: 0
            .v-input__slot
                &:before
                    display: none
                &:after
                    display: none
        .v-main-conteiner
            padding: 0px !important
        .sub-header
            display: flex
            .logo
                width: 50% !important
            .user
                width: 50% !important
                text-align: center !important

    .v-header-checkout
        max-width: 1180px !important
        min-width: 312px !important
        width: 100% !important
        margin-left: auto !important
        margin-right: auto !important

    .v-main-conteiner
        max-width: 1180px !important
        min-width: 312px !important
        margin-left: auto !important
        margin-right: auto !important
        width: 100% !important
        //margin-top: 54px !important
        padding: 15px 8px

    .sub-header
        display: flex
        .logo
            width: 35%
        .user
            width: 65%
            text-align: center

</style>
