<template>
  <div class="landing">
    <!--<Header/>-->
    <nuxt/>
  </div>
</template>

<script lang="ts">
  export default {

  };
</script>

<style  lang="sass">

  .landing
    @media screen and (min-width: 1024px)
      html.has-aside-left.has-aside-expanded nav.navbar, html.has-aside-left.has-aside-expanded body
        padding-left: 0

</style>
