<template lang="pug">
  v-app.adminContainer
    main-header
    v-main.v-main-conteiner
      nuxt
        //(keep-alive)
    main-footer

</template>

<script>
    import MainFooter from "../components/main/MainFooter";
    import MainHeader from "../components/main/MainHeader";
    import {FIREBASE} from "../config/HttpBase";
    export default {
        components:{
            MainHeader,
            MainFooter,
        },
        data(){
          return {

          }
        },
        created() {
            FIREBASE.baseFirestore = this.$fire.firestore
        },
        mounted() {

        },
        methods: {
          changeRouter($event){

          },
        }
  }
</script>

<style lang="sass" scoped>


    @media (min-width: 600px)
        .adminContainer
            .col-sm-2
                flex: 0 0 13.666667%
                max-width: 16.6666666667%

        .v-input__control
            .v-input__slot
                margin: 0
        .v-text-field__details
            display: none

        .selector-state
            width: 0
            margin: 0
            .v-input__slot
                &:before
                    display: none
                &:after
                    display: none
        .v-main-conteiner
            padding: 0px !important

    .v-main-conteiner
        max-width: 1180px !important
        min-width: 312px !important
        margin-left: auto !important
        margin-right: auto !important
        width: 100% !important
        margin-top: 54px !important
        padding: 15px 8px

</style>
