<template lang="pug">
    div
        | Valoracion
</template>

<script lang="ts">

    import { Component, Vue } from 'nuxt-property-decorator'
    @Component({
        components: {}
    })
    export default class Assessment extends Vue {


    }
</script>

<style lang="sass" scoped>

</style>
