<template lang="pug">
    div(style="position: relative;")
        div(v-html="product_body_html")
        div.btn-show-more
            v-btn.ma-0(v-if="isShowMore" rounded="" @click="showMore()" elevation="0" color="secondary") Ver más detalle
            v-btn.ma-0(v-else rounded="" @click="showLess()" elevation="0" color="primary") Ver menos detalle

</template>

<script lang="ts">
    import { Component, Vue, PropSync} from 'nuxt-property-decorator'
    import Axios from "axios";
    @Component({
        components: {}
    })
    export default class Characteristic extends Vue {
        private product_body_html = "";
        @PropSync('detailname', { type: String }) syncDetailName!: string

        private isShowMore = true
        mounted() {
            this.getHtmlBody().finally(()=>{
                //console.log("=========> detec")
                if (window.innerWidth <= 959){
                    //console.log("=========>")
                    this.showMore()
                }
            })
        }

        async showMore(){
            // @ts-ignore
            document.getElementById("product-description")?.setAttribute('style', 'height:auto !important');
            this.isShowMore = false
        }

        async showLess(){
            // @ts-ignore
            document.getElementById("product-description")?.setAttribute('style', 'height:auto');
            this.isShowMore = true
        }

        detectMob() {
            return ( ( window.innerWidth <= 800 ) && ( window.innerHeight <= 600 ) );
        }

        async getHtmlBody(){
            if (this.syncDetailName){
                //console.log(this.syncDetailName)
                let  storageRef = this.$fire.storage.ref("products/description").child(this.syncDetailName)
                let url = await storageRef.getDownloadURL()
                let $this = this
                await fetch(url)
                    .then(function(res) { return res.text(); })
                    .then(function(data) {
                        $this.product_body_html = data;
                    });
            }
        }
    }
</script>

<style lang="sass" scoped>

    ::v-deep #product-description
        height: 800px !important
        overflow: hidden
        img
            width: 100%
        table
            width: 100% !important
        span
            font-size: 14px !important
        video
            width: 100% !important
        //p
            font-size: 12px !important

    @media (max-width: 600px)
        ::v-deep #product-description
            height: 500px !important
            overflow: hidden
            img
                width: 100%
            table
                width: 100% !important
            span
                font-size: 12px !important
            p
                margin: 0 !important
                padding: 0 !important

    .btn-show-more
        //position: absolute
        //bottom: 0
        justify-content: center
        text-align: center
        align-items: center
        width: 100%
        //background: #607d8bbd
        padding: 20px

</style>
