<template lang="pug">
    div
        |Detalle de producto
</template>

<script lang="ts">
    import { Component, Vue } from 'nuxt-property-decorator'
    @Component({
        components: {}
    })
    export default class Details extends Vue {


    }
</script>

<style lang="sass" scoped>

</style>
