<template lang="pug">
    section.pb-4
        .video-player-box(
            :playsinline="playsinline"
            @play="onPlayerPlay($event)"
            @pause="onPlayerPause($event)"
            @ended="onPlayerEnded($event)"
            @loadeddata="onPlayerLoadeddata($event)"
            @waiting="onPlayerWaiting($event)"
            @playing="onPlayerPlaying($event)"
            @timeupdate="onPlayerTimeupdate($event)"
            @canplay="onPlayerCanplay($event)"
            @canplaythrough="onPlayerCanplaythrough($event)"
            @ready="playerReadied"
            @statechanged="playerStateChanged($event)"
            v-video-player:myVideoPlayer="playerOptions")
</template>

<script>
    export default {
        data () {
            return {
                // component options
                playsinline: true,

                // videojs options
                playerOptions: {
                    //height: '360',
                    autoplay: true,
                    muted: true,
                    language: 'es',
                    playbackRates: [0.7, 1.0, 1.5, 2.0],
                    sources: [{
                        type: "video/mp4",
                        src: this.video_url,//"https://cloud.video.taobao.com/play/u/2200739014169/p/1/e/6/t/10301/295808950306.mp4"
                    }],
                    poster: this.poster_url,//"https://ae01.alicdn.com/kf/Hcf8c08a0bdf9434f84fcb783418bda617/Insta360-GO-la-Mini-c-mara-estabilizada-m-s-peque-a-para-hacer-Vlogs-para-IPhone.jpg_Q90.jpg",
                }
            }
        },
        props: {
            video_url: {
                type: String,
                default () {
                    return ''
                }
            },
            poster_url:{
                type: String,
                default () {
                    return ''
                }
            }
        },
        mounted() {
            //console.log('this is current player instance object', this.myVideoPlayer)
            //this.myVideoPlayer.muted(true)
            /*setTimeout(() => {
              console.log('dynamic change options', this.player)
              this.player.muted(true)
              this.player.autoplay(false)
            }, 5000)*/
        },
        methods: {
            // listen event
            onPlayerPlay(player) {
                // console.log('player play!', player)
            },
            onPlayerPause(player) {
                // console.log('player pause!', player)
            },
            onPlayerEnded(player) {
                // console.log('player ended!', player)
            },
            onPlayerLoadeddata(player) {
                // console.log('player Loadeddata!', player)
            },
            onPlayerWaiting(player) {
                // console.log('player Waiting!', player)
            },
            onPlayerPlaying(player) {
                // console.log('player Playing!', player)
            },
            onPlayerTimeupdate(player) {
                // console.log('player Timeupdate!', player.currentTime())
            },
            onPlayerCanplay(player) {
                // console.log('player Canplay!', player)
            },
            onPlayerCanplaythrough(player) {
                // console.log('player Canplaythrough!', player)
            },
            // or listen state event
            playerStateChanged(playerCurrentState) {
                if(playerCurrentState.timeupdate && playerCurrentState.timeupdate < 0.8 && playerCurrentState.timeupdate > 0.5){
                    this.myVideoPlayer.pause()
                    this.myVideoPlayer.muted(false)
                }
                //this.player.autoplay(false)
            },
            // player is ready
            playerReadied(player) {
                player.currentTime(0.5)
                //player.play()
            }
        },
        beforeDestroy() {
            this.myVideoPlayer.reset()
            //alert('the component is destroy' + this.myVideoPlayer)
        },
        updated() {
            this.myVideoPlayer.reset()
        },
    }
</script>

<style lang="sass" scoped>
    //@import 'video.js/dist/video-js.css'

    ::v-deep .video-player-box
        .video-js
            width: 100% !important
            height: 360px !important //184px;

    @media (max-width: 600px)
        ::v-deep .video-player-box
            .video-js
                width: 100% !important
                height: 184px !important

    /*.container {
      width: 60%;
      margin: 0 auto;
      padding: 50px 0;
      .video-player-box {
        min-height: 200px;
      }
      }*/
</style>
