<template lang="pug">
    div
        //v-container(style="display: block;")
        v-row.ma-0
            v-col.text-center(md='9')
                div.pa-4
                    div
                        v-icon.btn-icon-header(large='' color='primary' style='font-size: 160px')
                            | mdi-cart-outline
                    div(style='border-color: #0DBDC8;color: #0DBDC8;' class="title pt-3 pb-3")
                        | NO TIENES PRODUCTOS EN TU CARRITO
                    div.pt-1.pb-4
                        | Encuentra los mejores productos, a los mejores precios.
                    div
                        v-btn.ma-2(rounded='' elevation="1" color='primary' to="/")
                            | Comprar Ahora
            v-col(md='3')
                v-card(elevation="2").pa-4
                    div.pb-6 RESUMEN DE TU PEDIDO
                    div.pb-4.amount-pay
                        span.txt Sub total
                        span.amount S/ 0.00
                    div.pb-4.amount-pay
                        span.txt Envio
                        span.amount S/0.00
                    div.pb-4.amount-pay
                        span.txt Calcular envio
                        span.amount S/0.00
                    div.pb-4.amount-pay
                        span.txt Aplicar cumpon
                        span.amount S/0.00
                    div.pb-4.amount-pay
                        span.txt PAGO TOTAL
                        span.amount S/0.00
                    div.pb-4.pt-4.text-center
                        v-btn.ma-2(rounded='' color='primary' outlined)
                            | Procesar compra
</template>

<script lang="ts">
    import { Component, Vue } from 'nuxt-property-decorator'
    @Component({
        components: {}
    })
    export default class Cart extends Vue {


        mounted() {
            // @ts-ignore

            //setTimeout(() =>  this.$nuxt.$loading.start(), 1000)

        }

    }
</script>

<style lang="sass" scoped>

    .amount-pay
        .txt
            text-align: left
            width: 50%
            display: inline-block
        .amount
            width: 50%
            display: inline-block
            text-align: right


</style>
