<template lang="pug">
  div
    v-row.ma-0.mb-12
        v-col(cols='12' md='12')
            v-carousel(cycle='' hide-delimiter-background='').carusel-border
                v-carousel-item(v-for='(slide) in slides' :key='slide.id')
                    img(:src="slide.src" @click="goToDetailProductFromBanner(slide.product_id)" :alt="slide.id").img-carousel
                    //v-sheet(:color='colors[i]' height='100%')
                        v-row.fill-height(align='center' justify='center')
                            .display-3
                                | {{ slide }} Slide
        v-col(cols='12' md='12')
            div.text-h6.text-md-h5.font-weight-bold.mb-4(style="display:flex;align-items:center;")
                img(src="@/assets/images/icon-lightning.png" style="width:18px").ma-2
                span Categorias
            div.text-center.category-btn-dsk
                v-card( v-for="(item,i) in categories" @click="goToCategory(item)" tile='' elevation='0' :key="i.id" :style="{ 'border-color':'#'+item.color }").category-style.my-3.mx-6.text-center
                    img(:src="getImgUrl(item.image)" width="100%")
                    div {{item.name}}
            div.text-center.category-btn-mobile
                v-btn.category-btn-icon(v-for="(item,i) in categories" @click="goToCategory(item)" :key="i+'icon'" :style="{ 'background-color':'#'+item.color }" fab large dark elevation='0')
                    v-icon {{item.icon}}

        v-col(cols='12' md='12')
            div(style="background: #E0F6F8;border: solid 0px; border-radius: 8px;").pt-2.pb-4
                div.text-h6.text-md-h5.font-weight-bold.mb-4(style="display:flex;align-items:center;")
                    img(src="@/assets/images/icon-lightning.png" style="width:18px").ma-2
                    span Productos más populares
                div
                    v-sheet.mx-auto(elevation='0' style="background: #E0F6F8;")
                        v-slide-group.pa-0(v-model='selectCard' active-class='success')
                            v-slide-item(v-for='itemPopular in popularProduct' :key='itemPopular.id' v-slot='{ active, toggle }')
                                //router-link(:to="'/p/'+itemPopular.id").text-decoration-none
                                v-card.ma-2(tile='' elevation='0' width='180' @click="goToDetailProduct(itemPopular)").gray--border
                                    v-img(:src="itemPopular.image")
                                    div.my-1.font-weight-medium.text-md-body-2(style="line-height: 21px;").text-truncate-2-line {{itemPopular.name}}
                                    div.text-md-subtitle-2.font-weight-bold S/ {{itemPopular.discount.amount.toFixed(2)}}
                                    div.pb-1.text-md-body-2
                                        span.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{itemPopular.price.toFixed(2)}}
                                        span.red--text.px-1 -{{itemPopular.discount.title}}
                                    div.py-1.text-md-body-2
                                        v-icon(color="secondary") mdi-star
                                        span.grey--text.text--darken-3 {{itemPopular.rating_avg}} | {{itemPopular.quantity_sold}} vendidos
            div.pt-2.pb-4
                div.text-h6.text-md-h5.font-weight-bold.my-4(style="display:flex;align-items:center;")
                    img(src="@/assets/images/icon-lightning.png" style="width:18px").ma-2
                    span Los mejores descuentos
                div(style="")
                    div(v-if="bestDiscount.length>0" v-for="itemBest in bestDiscount" :key="itemBest.id").pa-1.py-2.cols-5
                        //router-link(:to="'/p/'+itemBest.id").text-decoration-none
                        v-card(tile='' elevation='0' @click="goToDetailProduct(itemBest)").gray--border
                            v-img(:src="itemBest.image")
                            div.my-2.font-weight-medium(style="line-height: 21px;").text-truncate-2-line {{itemBest.name}}
                            div.text-md-h6.font-weight-bold S/ {{itemBest.discount.amount.toFixed(2)}}
                            div.pb-2
                                span.pa-1.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{itemBest.price.toFixed(2)}}
                                span.red--text.px-1 -{{itemBest.discount.title}}
                            div.py-2
                                v-icon(color="secondary") mdi-star
                                span.grey--text.text--darken-3 {{itemBest.rating_avg}} | {{itemBest.quantity_sold}} vendido
            div(style="text-align: center;").mt-2
                v-btn( v-if="isShowBtn" @click='onViewMoreChange' outlined rounded='' elevation="o" color='primary') Ver más productos
                //v-row
                    v-col(v-for="i in 6" cols='6' md='3' :key="i")
                        v-card.pa-2(outlined='' tile='' height='250' )
                            | One of three columns

</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ProductService } from '~/services/ProductService'
import { CategoryServices } from '~/services/CategoryServices'
import { BannerServices } from '~/services/BannerServices'

@Component({
  components: {}
})
export default class Index extends Vue {
  public productService = new ProductService()
  public categoryServices = new CategoryServices()
  public bannerServices = new BannerServices()

  private selectCard = ''
  private bestDiscount: any = []
  private popularProduct: any = []

  private categories: any = []
  private isShowBtn = true

  private colors = [
    'indigo',
    'warning',
    'pink darken-2',
    'red lighten-1',
    'deep-purple accent-4'
  ]

  private slides: any = []

  // @ts-ignore
  asyncData({ app }) {
    // INFO -> app.$fire.firestore etc. are accessible
    //console.log(app)
  }

  created() {
    this.getDiscountProduct()
    this.getPopularProducts()
    this.getAllCategories()
    this.getAllBanner()
  }

  mounted() {
    //document.getElementsByClassName("v-carousel__controls__item")[0].style['height'] = "22px";
  }

  async getAllBanner() {
    const snapshot = await this.bannerServices.getAllBanner()
    snapshot.forEach((doc: any) => {
      this.slides.push({
        id: doc.data().id,
        product_id: doc.data().product_id,
        src: doc.data().image
      })
    })
  }

  async getDiscountProduct() {
    this.bestDiscount = []
    const snapshot = await this.productService.getDiscountProduct()
    snapshot.forEach((doc: any) => {
      this.bestDiscount.push(doc.data())
    })
  }

  async getPopularProducts() {
    const snapshot = await this.productService.getPopularProducts()
    snapshot.forEach((doc: any) => {
      this.popularProduct.push(doc.data())
    })
  }

  async getAllCategories() {
    const snapshot = await this.categoryServices.getAllCategories()
    snapshot.forEach((doc: any) => {
      this.categories.push(doc.data())
    })
  }

  async goToCategory($event: any) {
    await this.$router.push({ path: '/c/'+$event.path })
  }

  async goToDetailProduct($item: any) {
    await this.$router.push({ path: '/p/' + $item.id })
  }

  async goToDetailProductFromBanner($item: any) {
    await this.$router.push({ path: '/p/' + $item })
  }

  getImgUrl(pet: any) {
    try {
      // @ts-ignore
      let images = require.context('@/assets/images/', false, /\.png$/)
      return images('./' + pet)
    } catch (e) {
      return ''
    }
  }

  async onViewMoreChange(){
      let discount_value = this.bestDiscount[this.bestDiscount.length-1].discount.value
      const snapshot = await this.productService.getDiscountNuxtProduct(discount_value)
      snapshot.forEach((doc: any) => {
          this.bestDiscount.push(doc.data())
      })
      //console.log(snapshot.docs.length)
      this.isShowBtn = !(snapshot.docs.length === 0)
  }


}
</script>

<style lang="sass" scoped>

::v-deep .v-carousel
    height: 325px !important
    .v-window-item
        height: 325px !important
        .v-carousel__item
            height: 325px !important

@media (max-width: 600px)
    .cols-5
        width: 50% !important
        display: inline-block
    .img-carousel
        display: inline-block
        height: 100%
        //margin: 0 -200%
        width: 100% !important
        max-width: 100%
        min-width: 100%
        vertical-align: middle
    .category-btn-dsk
        display: none !important
    .category-btn-mobile
        display: flex !important
        justify-content: center
        //display: block !important
        .category-btn-icon
            margin: 2px !important
    ::v-deep .v-carousel
        height: 220px !important
        .v-window-item
            height: 220px !important
            .v-carousel__item
                height: 220px !important

.container
      margin: 0 auto
      min-height: 100vh
      display: flex
      justify-content: center
      align-items: center
      text-align: center

::v-deep .v-carousel__controls
    .v-item-group
        .v-carousel__controls__item
            height: 22px !important
            width: 22px !important
            span
                i
                    font-size: 14px !important
::v-deep .v-slide-group__next
    position: absolute
    right: 0
    height: 100%
    i
        border-radius: 50%
        background: #fff
        border: solid 1px #ffab00
        font-size: 45px
        color: #ffab00
::v-deep .v-slide-group__prev
    position: absolute
    left: 0
    height: 100%
    z-index: 10
    i
        background: #fff
        border: solid 1px #ffab00
        border-radius: 50%
        font-size: 45px
        color: #ffab00
::v-deep .v-slide-group__wrapper
    touch-action: pan-y !important

.gray--border
    border: solid 1px
    border-radius: 8px !important
    padding: 10px
    border-color: #e0e0e0
.category-style
    border: solid 2px
    border-radius: 8px !important
    padding: 10px
    width: 12%
    display: inline-block
    //border-color: #e0e0e0

.carusel-border
    border: solid 0px
    border-radius: 10px !important

.cols-5
    width: 20%
    display: inline-block
.bg-discount
    background: #FFF3F3
.text-truncate-2-line
    overflow: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 2
    display: -webkit-box
    -webkit-box-orient: vertical
.img-carousel
    display: inline-block
    height: 100%
    width: 100%
    max-width: none
    min-width: 100%
    vertical-align: middle
.category-btn-dsk
    display: block
.category-btn-mobile
    display: none
    .category-btn-icon
        margin: 6px
</style>
