<template>
  <div>
    <LoginForm/>
  </div>

</template>

<script lang="ts">
import {Component, Vue} from "nuxt-property-decorator"
import LoginForm from "~/components/auth/LoginForm.vue"

@Component({
    layout: 'auth',
    components: {
        LoginForm,
    }
})
export default class ingresar extends Vue {

}
</script>
<style lang="stylus" scoped>

</style>
