<template>
    <div>
        <p>Logout</p>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "nuxt-property-decorator"
    @Component({
      layout: 'landing'
    })
    export default class extends Vue {

    }
</script>

<style scoped>

</style>
