<template lang="pug">
    v-row.ma-0
        v-col.text-left(md='4' sm="4" cols=12)
            v-card(elevation="2").pa-1
                //div(style="display:flex;align-items:center;").py-4
                    v-avatar
                        img(src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John")
                    span.pl-3.primary--text Samuel Muñoz
                div.py-4
                    v-list-item-group(v-model='selectedItem' color='primary')
                        v-list-item(v-for='(item, i) in itemMenuProfile' :key='i' @click="goSubRout(item)")
                            v-list-item-icon
                                //v-icon(v-text='item.icon')
                                v-btn(:style="{ 'background-color':'#'+item.color }" fab small dark elevation='0')
                                    v-icon(color="grey darken-3") {{item.icon}}
                            v-list-item-content
                                v-list-item-title(v-text='item.text')
        v-col(md='8' sm='8')
            nuxt-child

</template>

<script lang="ts">
    import {Component, Vue, Watch} from "nuxt-property-decorator";
    import { Route } from 'vue-router';

    @Component({
         //layout: 'profile',
    })
    export default class Perfil extends Vue {

        private selectedItem = 0
        private fullPath:any = {}

        private itemMenuProfile = [
            //{ text: 'Mis Afiliaciones', color:"FFE6B3", icon: 'mdi-storefront-outline' },
            { text: 'Mis Datos', path:"/perfil", color:"cef1f3", icon: 'mdi-account-circle-outline' },
            { text: 'Mis Pedidos',path:"/perfil/mis-pedidos", color:"CAE8C9", icon: 'mdi-cube-send' },
            { text: 'Direcciones de envió',path:"/perfil/mis-direcciones", color:"FFCACA", icon: 'mdi-map-marker-outline' },
            { text: 'Mis Ventas',path:"/perfil/mis-ventas", color:"ffd286", icon: 'mdi-store-outline' },
            //{ text: 'Metodos de pago', color:"DCCBFF", icon: 'mdi-credit-card-outline' },
        ]

        private category = [
            {txt:"Informática",img:"informatica.png",to:"",color:"79BDFB",icon:"mdi-laptop"},
            {txt:"Deporte y Ocio",img: "deporte-ocio.png",to:"",color:"0DBDC8",icon:"mdi-dumbbell"},
            {txt:"Celulares",img: "celulares.png",to:"",color:"FFDC97",icon:"mdi-cellphone-iphone"},
            {txt:"Moda",img: "moda.png",to:"",color:"A379FB",icon:"mdi-tshirt-crew-outline"},
            {txt:"Casa y Jardin",img: "casa-jardin.png",to:"",color:"96D279",icon:"mdi-sofa-single-outline"}
        ]

        mounted() {
            this.defauldSelectItem(this.$route.fullPath)
        }

        defauldSelectItem(fullPath:any){
            this.fullPath = fullPath
            this.itemMenuProfile.forEach((value,index) => {
                if (value.path===this.fullPath){
                    this.selectedItem = index
                }
            });
        }

        @Watch('$route', { immediate: true, deep: true })
        onUrlChange(newVal: Route) {
            this.defauldSelectItem(newVal.fullPath)
        }

        getImgUrl(pet:any) {
            try {
                // @ts-ignore
                let images = require.context('@/assets/images/', false, /\.png$/);
                return images('./' + pet);
            }catch (e) {
                return ''
            }
        }

        goSubRout(item:any){
            //console.log(item)
            this.$router.push({path: item.path});
        }
    }
</script>

<style lang="sass" scoped>
    @media (max-width: 600px)
        .category-btn-dsk
            display: none !important
        .category-btn-mobile
            display: block !important
            .category-btn-icon
                margin: 2px !important

    ::v-deep .v-list-item__icon
        margin: 8px 0

    ::v-deep .v-list-item__icon:first-child
        margin-right: 20px

    .gray--border
        border: solid 1px
        border-radius: 8px !important
        padding: 10px
        border-color: #e0e0e0

    .category-btn-dsk
        display: block
    .category-btn-mobile
        display: none
        .category-btn-icon
            margin: 6px

    .category-style
        border: solid 2px
        border-radius: 8px !important
        padding: 10px
        width: 12%
        display: inline-block
        //border-color: #e0e0e0

</style>
