<template>
  <div>
    <RegisterForm/>
  </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from "nuxt-property-decorator";
    import RegisterForm from '~/components/auth/RegisterForm.vue';

    @Component({
        layout: 'auth',
        components: {
            RegisterForm,
        },
    })
    export default class Register extends Vue {}
</script>
<!--src="@/assets/styles/auth.styl"-->
<style lang="stylus" scoped>

</style>

