<template lang="pug">
    div.pa-1.pb-2.px-3
        div.font-weight-bold.mt-md-4.mb-1.pt-md-4(style="display:flex;align-items:center;").text-h6.text-md-h5
            img(src="@/assets/images/icon-lightning.png" style="width:18px").ma-2
            span Resultado de busqueda
        v-row.ma-0(style="" justify="center").pt-2.pb-8
            v-col(v-if="productSearchSearchResult.length>0" v-for="item in productSearchSearchResult" :key="item.id").pa-1.py-2.cols-5
                //router-link(:to="'/p/'+itemBest.id").text-decoration-none
                v-card(tile='' elevation='0' @click="goToDetailProduct(item.id)").gray--border
                    v-img(:src="item.image")
                    div.my-2.font-weight-medium(style="line-height: 21px;").text-truncate-2-line {{item.name}}
                    div.text-md-h6.font-weight-bold S/ {{item.discount.amount.toFixed(2)}}
                    div.pb-2
                        span.pa-1.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{item.price.toFixed(2)}}
                        span.red--text.px-1 -{{item.discount.title}}
                    div.py-2
                        v-icon(color="secondary") mdi-star
                        span.grey--text.text--darken-3 {{item.rating_avg}} | {{item.quantity_sold}} vendido

            v-col(v-if="productSearchSearchResult.length<=0")
                div(style="text-align: center;")
                    img(src="@/assets/images/busqueda-sin-resultado.png" style="width:280px;display: inline-block;")
                    div.grey--text.text--darken-3.text-subtitle-1.text-md-h6.font-weight-medium No se encontraron productos en tu búsqueda
                    div.grey--text.text--darken-3.text-subtitle-2.text-md-subtitle-1.font-weight-light Haz clic abajo para ver todos nuestros productos disponibles.
                    br
                    v-btn.ma-0(large rounded="" @click="clearSearch" elevation="1" color="primary") Ver productos de la tienda
        div
            v-pagination(v-if="paginationTotal!==0" v-model="paginationCurrent" :length="paginationTotal" color="#FFB74D" :value="paginationCurrent" @input="onPageChange" )
</template>

<script lang="ts">
import { CategoryServices } from '~/services/CategoryServices'
import { ProductService } from '~/services/ProductService'
import algoliasearch from 'algoliasearch/lite'
import 'instantsearch.css/themes/satellite-min.css'

import { Component, State, Vue, Watch } from 'nuxt-property-decorator'

@Component({})
export default class Search extends Vue {
  @State('authUser') public authUser: any
  @State('searchInput') public searchInput: any

  public productService = new ProductService()
  public categoryServices = new CategoryServices()

  private categories: any = []

  // Algolia init.
  private searchClient = algoliasearch(
    'EJTBGYWH6R',
    '45be6173a9d5145d8d45ff68e59ff4c1'
  )
  private index = this.searchClient.initIndex('prod_products')

  public paginationTotal = 0
  public paginationCurrent = 1

  public searchInputText = ''

  private queryFromURI: any = ''
  private productSearchSearchResult:any = []

  created() {
    this.getAllCategories()
  }

  mounted() {
    this.queryFromURI = this.$route.query.q
    //console.log('this.$route.query.q : ', this.queryFromURI)
    this.searchInputText = this.queryFromURI ? this.queryFromURI : ''
    this.getProductFromQuery(this.queryFromURI)
  }

  /*@Watch('$route.query.q', { immediate: true, deep: true })
  onUrlChange(to: any, from: any) {
      console.log("searching")
      console.log(this.$route.query.q)
  }*/

  @Watch('searchInput', { immediate: true, deep: true })
  onSearchInput(search: any) {
      //console.log(search)
    if (search || search=='') {
      //console.log('this.$route.query.q : ', search)
      this.searchInputText = search
      this.getProductFromQuery(search)
    }
  }

  async getProductFromQuery(query: any) {
      this.index.search(query, {
        // page: 0,
        hitsPerPage: 10
      })
      .then(({ hits, page, ...rest }) => {

        this.paginationTotal = rest.nbPages
        /*this.items = hits.map((hits) => ({
          short_name: hits['name'],
          price: hits['price'],
          image: hits['image'],
          id: hits['id']
        }))*/

        this.productSearchSearchResult = hits

      })
      .catch((error) => {
        console.log('No products.', error)
      })
  }

  async onPageChange($event) {
    let index: number = $event-1

    this.index.search(this.searchInputText, {
        page: index,
        hitsPerPage: 10
      })
      .then(({ hits, page, ...rest }) => {
        //console.warn(`hits: `, hits)
          /*this.items = hits.map((hits) => ({
              short_name: hits['name'],
              price: hits['price'],
              image: hits['image'],
              id: hits['id']
          }))*/
        this.productSearchSearchResult = hits
      })
      .catch((error) => {
        console.log(`error: `, error)
      })
  }

  clearSearch(){
      this.$store.commit('setSearchQuery', "");
      this.$router.push({path:'/search'})
      //@ts-ignore
      document.getElementById("search-input-amazon").value = '';
  }

  async getAllCategories() {
    const snapshot = await this.categoryServices.getAllCategories()
    snapshot.forEach((doc: any) => {
      this.categories.push(doc.data())
    })
  }

  async goToDetailProduct(id: any) {
    await this.$router.push({ path: '/p/' + id })
  }

  getImgUrl(pet: any) {
    try {
      // @ts-ignore
      let images = require.context('@/assets/images/', false, /\.png$/)
      return images('./' + pet)
    } catch (e) {
      return ''
    }
  }
}
</script>

<style lang="sass" scoped>
    @media (max-width: 600px)
        .cols-5
            width: 50% !important
            display: inline-block
            flex-grow: initial !important

    .cols-5
        width: 18%
        display: inline-block
        flex-grow: initial !important
    .gray--border
        border: solid 1px
        border-radius: 8px !important
        padding: 10px
        border-color: #e0e0e0
    .text-truncate-2-line
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 2
        display: -webkit-box
        -webkit-box-orient: vertical
</style>
