<template>

  <div>
    <ValidatePhone/>
  </div>

</template>

<script lang="ts">
  import { Component, Prop, Vue } from "nuxt-property-decorator";
  import ValidatePhone from '~/components/auth/ValidatePhone.vue';

  @Component({
    layout: 'auth',
    components: {
      ValidatePhone,
    },
  })
  export default class validacion extends Vue {}

</script>

<style lang="sass" scoped>

</style>
