<template lang="pug">
    div(style='min-height: 100vh;display: flex;justify-content: center;align-items: center; padding: 14px;')
        form(v-on:submit.prevent='addPasswordGoogleAuth()' style="padding-bottom: 50px;" )
            .title-login Gmail verificado &#x1F389
            .title-login Ingresa una contraseña
            //mdiCheckboxMarkedCircle
            .div.mb-5(style="font-size:18px;")
                span.mr-1
                    v-icon(style="font-size:28px;").green--text mdi-checkbox-marked-circle
                span(v-if="authUser") {{authUser.email}}
            v-text-field#password(
                rounded dense outlined hide-details label="Crear contraseña"
                v-model="$v.google_auth.password.$model"
                @input="$v.google_auth.password.$touch()"
                :error-messages="isSubmitted && (!$v.google_auth.password.minLength || !$v.google_auth.password.required) ? ['Debes ingresar minimo 6 dígitos.'] : []"
                type='password'
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass ? 'text' : 'password'"
                @click:append="showPass = !showPass")
            .div.pl-1.text-caption Esta contraseña es solo para ingresar a Ofertaup.com
            div.btn-form
                v-btn.mt-3.button.is-primary(type='submit' color="primary" rounded="" :loading="loadingLogin" :disabled="loadingLogin")
                    span Continuar
</template>

<script lang="ts">
    import {Component, Action, State, Vue} from "nuxt-property-decorator";
    import { required, minLength } from 'vuelidate/lib/validators'
    import { validationMixin } from "vuelidate";
    import {UserServices} from '~/services/UserServices';

    @Component({
        layout: 'auth',
        mixins:[validationMixin],
        validations:{
            google_auth:{
                password:{ required, minLength: minLength(6)}
            }
        }
    })
    export default class validargmail extends Vue {
        @State('authUser') public authUser:any;
        @Action('onAuthStateChanged') public onAuthStateChanged:any;

        private userServices = new UserServices()
        private showPass = false
        private google_auth = {
            password:""
        }
        public loadingLogin = false
        public isSubmitted = false
        private standard = {id:"5owEjii8M2zxGGfYjiG4",name:"standard"}
        private queryParam:any = {}

        mounted () {
            //this.isLoading = false;
            this.isSubmitted = false
            this.queryParam = this.$route.query

            //console.log(this.$fire.auth.currentUser)
            //console.log(this.$fire.auth.currentUser)
        }

        userCreate(user:any,password:any){
            let itemName:any = user.displayName.split(" ")
            let update_register = {
                email: user.email,
                full_name: user.displayName,
                user_id: user.uid,
                password: password,
                roles_id: [this.standard],
                photo_url:user.photoURL
            }
            switch (itemName.length) {
                case 1:
                    update_register['first_name'] = itemName[0]
                    update_register['last_name'] = itemName[0]
                    break;
                case 2:
                    update_register['first_name'] = itemName[0]
                    update_register['last_name'] = itemName[1]
                    break;
                case 3:
                    update_register['first_name'] = itemName[0] + " " + itemName[1]
                    update_register['last_name'] = itemName[2]
                    break;
                case 4:
                    update_register['first_name'] = itemName[0] + " " + itemName[1]
                    update_register['last_name'] = itemName[2] + " " + itemName[3]
                    break;
            }
            this.userServices.createUser(update_register)
        }

        async addPasswordGoogleAuth(){
            this.loadingLogin = true
            //@ts-ignore
            if (this.$v.google_auth.$invalid) {
                this.isSubmitted = true
                // @ts-ignore
                console.log(this.$v.google_auth)
                return
            }
            //this.$fire.auth.currentUser?.email
            let currentUser = this.$fire.auth.currentUser
            let email:any = this.$fire.auth.currentUser?.email
            let credentialEmail = await this.$fireModule.auth.EmailAuthProvider.credential(email, this.google_auth.password);
            currentUser?.linkWithCredential(credentialEmail)
                .then((usercred:any) => {
                    let authUser = usercred.user
                    //Recupera el claims actual
                    this.$fire.auth.currentUser?.getIdTokenResult().then((idTokenResult) => {
                        let claims = idTokenResult.claims
                        this.onAuthStateChanged({authUser, claims})
                        this.userCreate(authUser,this.google_auth.password)
                        setTimeout(()=>{
                            this.loadingLogin = false
                            this.goToPath('validacion')
                        }, 1500);
                    }).catch((error) => {
                        console.log(error);
                    });
                    //this.$store.commit('updateAuthProviderData', user.providerData);
                }).catch((error) => {
                console.log(" error", error);
                this.$fire.auth.signOut()
                this.$router.push({ name: 'ingresar' })
            });
        }

        goToPath(name:any){
            if(this.queryParam && this.queryParam.objectId && this.queryParam.orderFrom && this.queryParam.quantity){
                // @ts-ignore
                this.$router.replace({name: name, query:{
                        toPath:this.queryParam.toPath,
                        objectId:this.queryParam.objectId,
                        orderFrom:this.queryParam.orderFrom,
                        quantity:this.queryParam.quantity
                    }})
            }else {
                if(this.queryParam.from_path){
                    this.$router.replace({name: name,query:{from_path:this.queryParam.from_path}});
                }else {
                    this.$router.replace({name: name});
                }
            }
        }

    }

</script>

<style scoped lang="sass">

    @media (max-width: 600px)
        .btn-form
            text-align: center !important
            .fm-sns-btns
                justify-content: center

    .btn-form
        text-align: center !important
        .fm-sns-btns
            justify-content: center

    .loginForm
        position: relative
        display: table
        width: 100%
        height: 100vh
        text-align: center

    .title-login
        font-size: 25px
        font-weight: 700
        font-family: 'Open Sans', sans-serif
        color: #133273
        margin: 0 0 1.1rem
        letter-spacing: -.05rem

    .title-form
        margin-top: 14px
        margin-bottom: 14px
        font-size: 20px
        color: #4b5d72

</style>
