<template lang="pug">
    div
        .mb-md-1.pt-md-3
            v-row.ma-0
                v-col(md="7" cols="12")
                    //- div(style="display: flex; align-items: center; justify-content: left; height: 100%;width: 100%;")
                    v-row.align-center.justify-center.fill-height
                        // VueProductZoomer(:base-images='imagesList' :base-zoomer-options='zoomerOptions')
                        v-flex(style="width: 14%;" class="hidden-sm-and-down justify-center")
                            .card-gallery(v-if="imageList.length>0" v-for="item in imageList" :key="item.id" :class="{ 'select-gallery': item.isCheck }")
                                v-img(:src="item.img_small")
                        v-flex(style="width: 86%;padding: 14px;" class="hidden-sm-and-down justify-center")
                            div(v-if="imageList.length>0")
                                v-carousel(hide-delimiter-background hide-delimiters :show-arrows="true" height="550" v-model="currentImagePos" @change="changeLsideImg(currentImagePos)")
                                    v-carousel-item(v-for="item in imageList" :key="item.id")
                                        v-row.fill-height(align="center" justify="center")
                                            .display-3
                                                div(v-if="item.img_zoom !== ''")
                                                    zoom-on-hover(v-if="select_image" :img-zoom="select_image" :img-normal="select_image")
                                                    zoom-on-hover(v-else width="100%" :img-zoom="item.img_zoom" :img-normal="item.img_normal")
                        v-row.hidden-md-and-up.mr-3.ml-3.mt-0.justify-center(style="max-width: 100%;width: 100%;margin-bottom: 2px;")
                            div(v-if="imageList.length>0")
                                v-carousel(hide-delimiter-background hide-delimiters :show-arrows="true" v-model="currentImagePos" @change="changeLsideImg(currentImagePos)")
                                    v-carousel-item(v-for="item in imageList" :key="item.id")
                                        v-row.fill-height(align="center" justify="center")
                                            .display-3
                                                div(v-if="item.img_zoom !== ''")
                                                    //zoom-on-hover(:img-zoom="item.img_zoom" :img-normal="item.img_normal")
                                                    img(v-if="select_image" :src="select_image" style="width:100%")
                                                    img(v-else width="100%" :src="item.img_normal" style="width:100%")

                        v-row.ma-0(class="hidden-md-and-up justify-center" style="max-width: 100%;width: 100%;")
                            .card-gallery(v-if="imageList.length>0" v-for="item in imageList" :key="item.id" :class="{ 'select-gallery': item.isCheck }" class="d-flex flex-sm-row")
                                v-img(:src="item.img_normal" :aspect-ratio="16/9" width="50" height="50")

                v-col(md="5" cols="12")
                    div(v-if="productDetail")
                        strong.text-md-subtitle-1.font-weight-medium
                            | {{ productDetail.name }}
                        .text-right.subtitle-1
                            v-icon(color="secondary") mdi-star
                            span.grey--text.text--darken-1
                                | {{ rating_avrg }} |
                                | {{ productDetail.quantity_sold }} vendidos
                        .headline.font-weight-bold.pt-4(v-if="productDetail.discount")
                            | S/ {{ productDetail.discount.amount.toFixed(2)}}
                        .pb-1.text-md-h6.font-weight-light.pb-6
                            span.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{ productDetail.price }}
                            span.red--text.px-1 -{{ productDetail.discount.title }}
                    .pb-6(v-if="productDetail")
                        div(style="display:flex;align-items:center;")
                            //v-icon.pr-4.icon-airplane(color="green" style="font-size: 52px;") mdi-airplane
                            img(:src="productDetail.shipping.image" style="width: 100px;")
                            //mdi-cube-send
                            span(v-if="productDetail")
                                //S/ 7.00
                                .subtitle-1(style="line-height: 20px;")
                                    span.font-weight-light Envío {{productDetail.shipping.type}}
                                    span.pl-1 S/{{(parseInt(productDetail['quantity_buy']) * parseFloat(productDetail.shipping.price)).toFixed(2)}}
                                    span.pl-2
                                        v-icon.pr-1.icon-airplane(color="green" style="font-size: 20px;") mdi-airplane
                                .subtitle-2.grey--text.text--darken-1(style="line-height: 20px; color: #e9404a !important;")
                                    | {{productDetail.shipping.business}}
                                .subtitle-2.font-weight-regular
                                    span Recíbelo en tu casa
                                    br
                                    span.pr-1 El
                                    span.green--text {{productDetail.shipping.format_arrival_days}},
                                    span.pl-1
                                        span
                                            v-icon(color="green" style="font-size: 25px;") mdi-map-marker-outline
                                        span Perú.
                                    //en Ica, Ica
                                //.subtitle-2.font-weight-light
                                  span.text-decoration-underline.red--text Calcular envío a otra dirección

                        //div(style="display:flex;align-items: center;").pb-6
                            div(style="display:flex;align-items:center;width: 90%;")
                                v-avatar
                                    img(src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John")
                                span.pl-3
                                    div.grey--text.text--darken-1 Vendedor
                                    div.primary--text Jhanet Miranda Milan
                            div(style="width: 20%;display: flex;")
                                img(src="@/assets/images/wtsapp.png" width="30px" alt="")
                                span
                                    v-icon(color="red" style="font-size: 30px;") mdi-seal
                    //.hidden-sm-and-down
                    .pb-3(v-if="!showBtnMobile")
                        .pb-2(style="display:flex;align-items:center;")
                            span(style="width:130px;")
                                v-select(v-if="productDetail" v-model="productDetail['quantity_buy']" :items="['1', '2', '3', '4']" label="Cantidad" hide-details="hide-details" rounded="rounded" dense="dense" outlined="outlined")
                            span.py-2.pl-3.grey--text.text--darken-1.font-weight-light.text-body-2(v-if="productDetail") Disponibles {{ productDetail.stock }} unidades
                        .pb-2(v-if="productDetail['options'] && productDetail['options'].length>0")
                            span(style="width:220px;display: inline-block;")
                                v-select(@input="selectProduct"
                                    v-model="productDetail['select_option']"
                                    :items="productDetail['options']"
                                    item-text="name"
                                    label="Selecciona el tipo" hide-details="hide-details"
                                    rounded="rounded" dense="dense" outlined="outlined" return-object)
                            .red--text.text-caption(v-if="alert_select") *{{alert_select}}


                        div(style="display:flex;align-items:center;")
                            //
                              v-btn.mr-2(rounded='' elevation="0" color='primary' outlined)| Añadir al carrito
                            v-btn.ma-0(large rounded="" @click="goCheckout" elevation="1" color="primary") Comprar Ahora
                        .subtitle-1.mt-4.grey--text.text--darken-1.d-flex.align-center(@click="goWhatsapp" style="cursor: pointer;")
                            // v-icon(size='30px').mr-2 mdi-phone-message-outline
                            img.mr-2(src="@/assets/images/wtsapp.png" width="30px" alt="")
                            span Consultas al Whatsapp
                    //.hidden-md-and-up
                    .pb-3(v-if="showBtnMobile").mobile-btn-buy
                        span(style="display: block;position: absolute;right: 0;top: -14px;right: 2px;").text-right
                            v-btn(outlined x-small fab color='primary' @click="hiddenBtnMobile" style="height: 24px;width: 24px;background: #fff")
                                v-icon mdi-window-close
                        .pb-0(style="display:flex;align-items:center;")
                            span(style="width:30%;display:inline-table;")
                                v-select(v-if="productDetail" v-model="productDetail['quantity_buy']" :items="['1', '2', '3', '4']" label="Cantidad" hide-details="hide-details" rounded="rounded" dense="dense" outlined="outlined")
                            //span.py-2.pl-3.grey--text.text--darken-1.font-weight-light.text-body-2(v-if="productDetail") Disponibles {{ productDetail.stock }} unidades
                            span(style="width:70%;display:inline-table;" v-if="productDetail['options'] && productDetail['options'].length>0")
                                v-select(@input="selectProduct"
                                    v-model="productDetail['select_option']"
                                    :items="productDetail['options']"
                                    item-text="name"
                                    label="Selecciona el tipo" hide-details="hide-details"
                                    rounded="rounded" dense="dense" outlined="outlined" return-object)
                                .red--text.text-caption(v-if="alert_select") *{{alert_select}}


                        div(style="display:flex;align-items:center;justify-content: center;")
                            //
                              v-btn.mr-2(rounded='' elevation="0" color='primary' outlined)| Añadir al carrito
                            div(@click="goWhatsapp" style="cursor: pointer;text-align: center;")
                                // v-icon(size='30px').mr-2 mdi-phone-message-outline
                                div.subtitle-1.grey--text.text--darken-1 consultas
                                img(src="@/assets/images/wtsapp.png" width="35px" alt="")
                            v-btn(style="" large rounded="" @click="goCheckout" elevation="1" color="primary") Comprar Ahora
                                strong.font-weight-bold  S/{{productDetail.discount.amount.toFixed(2)}}

        .mb-4
            v-row.ma-0
                v-col(md="7" cols="12")
                    v-card(elevation="0")
                        v-tabs(leftered="leftered" icons-and-text="icons-and-text" color="secondary")
                            v-tab.pl-0(@click="noGray()")
                                | Característica
                                v-icon mdi-buffer
                            v-tab(@click="changeGray()")
                                | Valoración
                                v-icon mdi-comment-text-multiple-outline
                                img(style="position: absolute;top:11px;left: 50px;width:28px;" src="@/assets/images/icon-coments.png" v-bind:class="{ 'gray-img': is_gray_img }")
                                // v-img( v-bind:class="{'gray-img':is_gray_img}"  :src="require('@/assets/images/icon-coments.png')" max-width="28px")
                                // mdi-comment-text-multiple-outline
                            v-tab(@click="noGray()")
                                | Detalles
                                v-icon mdi-clipboard-text-search-outline
                            v-tab-item
                                v-row.ma-0
                                    v-col(md="12")
                                        video-player(v-if="productDetail && productDetail.video" :video_url="productDetail.video" :poster_url="productDetail.image")
                                        characteristic(v-if="productDetail" :detailname="productDetail.description")
                            v-tab-item
                                div(v-if="productDetail")
                                    v-row.ma-0
                                        v-col.d-flex.flex-column.justify-center.align-center(md="3")
                                            .text-h3.text-sm-h5
                                                span {{ rating_avrg }}
                                            div
                                                v-rating(background-color="#eee" color="warning" hover="" dense="" length="5" readonly="" size="25" :value="rating_avrg")
                                            .text-sm-body
                                                | {{ comentaryList.length }} reseñas
                                        v-col.d-none.d-sm-block
                                            .mt-md-6
                                                v-row.ma-0.d-flex.justify-space-around.align-center.mt-md-n6(v-for="item in ratingList" :key="item.value")
                                                    v-col.justify-center(md="2")
                                                        span
                                                            | {{ item.value}}
                                                            span
                                                                v-icon(color="secondary") mdi-star
                                                    v-col.align-center( md="6")
                                                        v-progress-linear(:value="item.percentage" color="yellow darken-2")
                                                    v-col
                                                        span {{ item.quatity }}
                                    v-row.ma-0
                                        v-col(cols="12")
                                            div(v-for="item in comentaryList" :key="item.id")
                                                .d-flex.flex-column
                                                    div
                                                        v-rating(background-color="#eee" color="warning" hover dense length="5" readonly size="17" :value="parseInt(item.value)")
                                                    div
                                                        span.text-subtitle-1.grey--text.text--darken-1.font-weight-medium {{item.user_name}}
                                                        span.text-subtitle-1.grey--text.text--darken-1.font-weight-medium  {{item.created_at}}
                                                        span.text-subtitle-1.green--text  Compra verificada.
                                                    div
                                                        p.body-2 {{item.content}}
                            v-tab-item
                                div
                                    v-row.ma-0.pt-2(style="margin:0px")
                                        v-col.pa-0.pb-2(v-if="main_detail" v-for="itemDetail in main_detail" :key="itemDetail.title" cols="6" md="6")
                                            span.body-2.font-weight-light {{ itemDetail.title }}:
                                            apsn.body-2 {{ itemDetail.value }}
                v-col(md="5" cols="12")
                    .gray--border(style="display:flex;align-items:center;")
                        img.mr-2(src="@/assets/images/icon-escudo.png" style="width:30px")
                        div(style="line-height: 16px;font-size:14px")
                            .grey--text.text--darken-3
                                | Protección al Comprador
                            .grey--text.text--darken-1 Garantía de reembolso
                    .subtitle-1.font-weight-bold.my-4.gray--border(style="display:flex;align-items:center;")
                        img.mr-2(src="@/assets/images/certificate.png" style="width:30px")
                        div Entrega asegurada
                    .gray--border.d-none.d-md-block
                        img.mr-2(src="@/assets/images/compra-seguro.png" style="width:100%")
                    //
                      div.my-4.grey--text.text--darken-1.gray--border
                      div.subtitle-1.font-weight-bold Redes sociales del vendedor
                      div.my-2
                      v-btn( v-for='icon in icons' icon='' :color="icon.color" :key='icon.name'  style="")
                      v-icon(size='24px' style="font-size: 32px;")
                      | {{ icon.name }}
                      span @ventas_de_productos
                //.subtitle-1.font-weight-bold.my-4.grey--text.text--darken-1.gray--border.d-flex.align-center(@click="goWhatsapp")
                    // v-icon(size='30px').mr-2 mdi-phone-message-outline
                    img.mr-2(src="@/assets/images/wtsapp.png" width="40px" alt="")
                    span Escríbenos al Whatsapp
        div.mb-8
            .text-h6.text-md-h5.font-weight-bold.mb-4.mt-2(style="display:flex;align-items:center;width: 100%;")
                img.ma-2(src="@/assets/images/icon-lightning.png" style="width:18px")
                span Otros productos recomendados
            div.text-md-h6
                v-sheet.mx-auto(elevation="0" style="background: #E0F6F8;")
                    v-slide-group.pa-0(v-model="selectCard" active-class="success")
                        v-slide-item(v-for="itemModel in categoryProduct" :key="itemModel.id" v-slot="{ active, toggle }")
                            // router-link(:to="'/p/'+itemPopular.id").text-decoration-none
                            v-card.ma-2.gray--border(tile="" elevation="0" width="180" @click="goToDetailProduct(itemModel)")
                                v-img(:src="itemModel.image")
                                .my-1.font-weight-medium.text-md-body-2.text-truncate-2-line(style="line-height: 21px;")
                                    | {{ itemModel.name }}
                                .text-md-subtitle-2.font-weight-bold(v-if="itemModel.discount")
                                    | S/ {{ itemModel.discount.amount.toFixed(2) }}
                                .pb-1.text-md-body-2
                                    span.text-decoration-line-through.bg-discount.grey--text.text--darken-1 S/ {{ itemModel.price.toFixed(2) }}
                                    span.red--text.px-1 -{{ itemModel.discount.title }}
                                .py-1.text-md-body-2
                                    v-icon(color="secondary") mdi-star
                                    span.grey--text.text--darken-3
                                        | {{ itemModel.rating_avg }} |
                                        | {{ itemModel.quantity_sold }} vendidos
</template>
<script lang="ts">
    import {Component, Vue, Mutation, Watch, State} from 'nuxt-property-decorator'
    import { ProductService } from '~/services/ProductService'
    import { RatingsService } from '~/services/RatingsService'
    import Characteristic from '~/components/product/Characteristic.vue'
    //@ts-ignore
    import VideoPlayer from '~/components/product/VideoPlayer.vue'
    import moment from "moment";
    import "moment-timezone";
    moment.locale('es-do');

    @Component({
        components: { Characteristic, VideoPlayer },
        head() {
            return {
                //@ts-ignore
                title: this.productDetail?this.productDetail.short_name:"",
                meta: [
                    //@ts-ignore
                    {hid:"og:title", name:"og:title", property:"og:title", content:this.productDetail.short_name},
                    //@ts-ignore
                    { vmid: "description", hid: "description", name: "description", content: this.productDetail.name},
                    //@ts-ignore
                    { property: "og:image", hid: "og-image", vmid: "og-image", content: this.productDetail.image+'?v=' + Date.now()},
                ]
            }
        }
    })
    export default class DetalleProducto extends Vue {
        @Mutation('setDetailProduct')
        public setDetailProductStore!:any
        @State('detailProduct') public detailProductStore!:any

        public productService = new ProductService()
        public ratingsService = new RatingsService()
        public shippingDate = ""
        private selectCard = ''
        private alert_select:any = null
        private icons = [
            { name: 'mdi-instagram', color: 'red lighten-3' },
            { name: 'mdi-facebook', color: 'indigo' },
            { name: 'mdi-twitter', color: 'cyan darken-1' }
            //{name:'mdi-linkedin',color:"cyan darken-1"},
        ]
        private cantidad_model = "1"
        private select_image = null
        private is_gray_img = true
        private img_gallery = {
            id: '',
            img_normal: '',
            img_zoom: ''
        }
        private productDetail?:any
        private categoryProduct: any = null
        private imageList = [
            {
                img_normal: '',
                img_zoom: '',
                img_small: '',
                isCheck: true,
                id: '0'
            }
        ]
        private main_detail = null
        private comentaryList:any = []
        private rating_avrg = 0
        private ratingList = [
            {
                value:5,
                quatity:0,
                percentage:0
            },
            {
                value:4,
                quatity:0,
                percentage:0
            },
            {
                value:3,
                quatity:0,
                percentage:0
            },
            {
                value:2,
                quatity:0,
                percentage:0
            },
            {
                value:1,
                quatity:0,
                percentage:0
            }
        ]
        private showBtnMobile = false;

        created() {
            /*if (this.detailProductStore && this.$route.params &&
                (this.$route.params.id === this.detailProductStore.id)){
                this.productDetail = this.detailProductStore
            }

            this.setDetailProductStore(this.productDetail)*/
            this.getGalleryProduct()
            this.getProductsByCategory(this.productDetail)
            //this.getAllDetailProduct()
            this.getDetailProduct()
            this.getRatings()
        }

        /*activated(){
            console.log("activated")
        }

        deactivated(){
            console.log("deactivated")
        }*/

        mounted() {}
        validateOption(){
            if(this.productDetail['options'] && this.productDetail['options'].length>0){
                if(this.$route.query.optionId && this.$route.query.optionId!=='0'){
                    this.productDetail['select_option'] = this.productDetail['options'].find(vl=>vl.id==this.$route.query.optionId)
                    this.productDetail['image'] = this.productDetail['select_option'].image
                }else {
                    this.alert_select = "Debe seleccionar una opción"
                }
            }
        }
        // @ts-ignore
        async asyncData({app,route, redirect}) {
            // INFO -> app.$fire.firestore etc. are accessible
            if (route.params && route.params.id) {
                let param = { id: route.params.id }
                let productService = new ProductService()
                let snapshot = await productService.getAllDetailProduct(param)
                let productDetaildata = {}
                await snapshot.forEach((doc: any) => {
                    productDetaildata = doc.data()
                    productDetaildata['quantity_buy'] = '1'//this.cantidad_model
                    productDetaildata['select_option'] = null
                    if(productDetaildata['options'] && productDetaildata['options'].length>0 && productDetaildata['options'][0]['price']){
                        productDetaildata['discount']['amount'] = parseFloat(productDetaildata['options'].find(vl=>vl.id == '1').price)
                    }
                    let arrival_day = moment().add(parseInt(productDetaildata['shipping']['arrival_days']),'days')
                    let isSunday = (moment(arrival_day).isoWeekday() == 7) //Sunday
                    if(isSunday){
                        productDetaildata['shipping']['format_arrival_days'] = arrival_day.add(1,'days').format("LL");
                    }else {
                        productDetaildata['shipping']['format_arrival_days'] = arrival_day.format("LL");
                    }

                    //this.setDetailProductStore(this.productDetail)
                })
                return {
                    productDetail:productDetaildata
                }
                //await this.getProductsByCategory(this.productDetail)
            }
        }

        data(){
            return {
                currentImagePos: 0,
            }
        }

        changeGray() {
            this.is_gray_img = false
        }
        noGray() {
            this.is_gray_img = true
        }

        changeImg(item: any) {
            this.img_gallery = item
            this.imageList.map((vl) => {
                vl.isCheck = vl.id === item.id
            })
        }

        changeLsideImg(pos: any) {
            this.select_image = null
            this.imageList.map((vl) => {
                vl.isCheck = vl.id === pos.toString()
            })
        }

        goCheckout(){
            if(this.productDetail){
                if(this.productDetail['options'] && this.productDetail['options'].length>0){
                    if(this.productDetail['select_option']){
                        this.setDetailProductStore(this.productDetail)
                        this.$router.push({
                            name: 'checkout',
                            query: {
                                objectId:this.productDetail.id,
                                orderFrom:'main_detail',
                                optionId:this.productDetail['select_option'].id,
                                quantity:this.productDetail['quantity_buy']
                            }
                        });
                    }else {
                        this.alert_select = "Debe seleccionar una opción"
                    }
                }else {
                    this.setDetailProductStore(this.productDetail)
                    this.$router.push({
                        name: 'checkout',
                        query: {
                            objectId:this.productDetail.id,
                            orderFrom:'main_detail',
                            quantity:this.productDetail['quantity_buy']
                        }
                    });
                }
            }
        }

        async goWhatsapp(){
            let param = { id: this.$route.params.id }
            let current_link = window.location.href
            //let href = "https://api.whatsapp.com/send?phone=51947392421&text=Hola, ¿aún queda disponible?"
            let href = "https://api.whatsapp.com/send?phone=51900722405&text=Hola, ¿aún queda disponible?, "+current_link
            window.open(href,'_blank');
        }

        async getGalleryProduct() {
            if (this.$route.params && this.$route.params.id) {
                let param = { id: this.$route.params.id }
                let gallery = await this.productService.getGalleryProduct(param)
                this.imageList = []
                await gallery.forEach((doc: any) => {
                    let i = 0
                    doc.data()['images'].map((img_vl: any) => {
                        this.imageList.push({
                            img_normal: img_vl['normal'],
                            img_zoom: img_vl['zoom'],
                            img_small: img_vl['small'],
                            isCheck: i === 0,
                            id: i.toString()
                        })
                        i++
                    })
                })
                this.img_gallery = this.imageList[0]
            }
        }

        /*async getAllDetailProduct() {
          //this.$route.params.id
          if (this.$route.params && this.$route.params.id) {
            let param = { id: this.$route.params.id }
            let snapshot = await this.productService.getAllDetailProduct(param)
            await snapshot.forEach((doc: any) => {
              this.productDetail = doc.data()
              this.productDetail['quantity_buy'] = '1'//this.cantidad_model
                this.productDetail['shipping']['format_arrival_days'] = moment().add(parseInt(this.productDetail['shipping']['arrival_days']),'days').format("LL");
              this.setDetailProductStore(this.productDetail)
            })
            await this.getProductsByCategory(this.productDetail)
          }
        }*/
        async selectProduct($event){
            if (window.innerWidth <= 959 && !this.showBtnMobile){
                this.showBtnMobile = true
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
            this.select_image = $event.image
            this.alert_select = null
            if($event.price){
                this.productDetail.discount.amount = parseFloat($event.price)
            }
        }

        async hiddenBtnMobile(){
            this.showBtnMobile = !this.showBtnMobile
        }

        async getDetailProduct() {
            if (this.$route.params && this.$route.params.id) {
                let param = { id: this.$route.params.id }
                let snapshot = await this.productService.getDetailProduct(param)
                await snapshot.forEach((doc: any) => {
                    this.main_detail = doc.data()['detail']
                })
            }
        }

        async getProductsByCategory(param: any) {
            this.categoryProduct = []

            if(param && param.categories && param.categories.length > 0){
                let snapshot = await this.productService.getProductsByCategory(param)
                await snapshot.forEach((doc: any) => {
                    this.categoryProduct.push(doc.data())
                })
            }
        }

        async goToDetailProduct($item: any) {
            await this.$router.push({ path: '/p/' + $item.id })
        }

        async getRatings(){
            if (this.$route.params && this.$route.params.id) {
                let param = { id: this.$route.params.id }
                let snapshot = await this.ratingsService.getFeedbacksByProduct(param)
                let doc_data:any = {}
                await snapshot.forEach((doc: any) => {
                    doc_data = doc.data()
                })
                let star_avgr = 0
                if(!doc_data.coment_list) return
                await doc_data.coment_list.forEach(vl => {
                    let doc_value = vl
                    let names = vl.user_name.split(" ")
                    doc_value['user_name'] = names[0]
                    doc_value['created_at'] = moment(vl.date.toDate()).format("DD/MM/YYYY")
                    star_avgr = star_avgr + doc_value.value
                    this.comentaryList.push(doc_value)
                });
                this.rating_avrg = Math.round(star_avgr/this.comentaryList.length)
                this.calculateTableRating(this.comentaryList)
            }
        }

        calculateTableRating(comentaryList:any){
            this.ratingList.map((rtng:any)=>{
                let comentaries = comentaryList.filter((vl:any)=>vl.value === rtng.value)
                rtng.quatity = comentaries.length
                rtng.percentage = Math.round(rtng.quatity * 100 / comentaryList.length)
            })
        }

    }
</script>

<style lang="sass">
    /* global styles */
</style>
<style lang="sass" scoped>
    /* local styles */
    ::v-deep .v-carousel
        height: auto !important
        ::v-deep .v-carousel__item
            height: auto !important

    @media (max-width: 600px)
        ::v-deep .v-carousel
            height: auto !important
        ::v-deep .v-carousel__item
            height: auto !important
        //.slider-prd
            display: block !important
        ::v-deep .detail-desc-decorate-richtext
            table
                tbody
                    tr
                        td
                            max-width: 100px

    .slider-prd
        display: flex
        flex-wrap: wrap
        flex: 1 1 auto
        margin-right: -12px
        margin-left: -12px

    ::v-deep .v-slide-group__wrapper
        touch-action: pan-y !important
    ::v-deep .v-slide-group__next
        position: absolute
        right: 0
        height: 100%
        i
            border-radius: 50%
            background: #fff
            border: solid 1px #ffab00
            font-size: 45px
            color: #ffab00
    ::v-deep .v-slide-group__prev
        position: absolute
        left: 0
        height: 100%
        z-index: 10
        i
            background: #fff
            border: solid 1px #ffab00
            border-radius: 50%
            font-size: 45px
            color: #ffab00

    .card-gallery
        border: solid 2px
        border-color: #dedede
        margin: 3px
        opacity: 0.5

    .select-gallery
        border-color: #ffab00
        opacity: 1

    .gray-img
        filter: gray
        -webkit-filter: grayscale(1)
        filter: grayscale(1)
    .gray--border
        border: solid 1px
        border-radius: 8px
        padding: 10px
        border-color: #e0e0e0
    .gray--border
        border: solid 1px
        border-radius: 8px !important
        padding: 10px
        border-color: #e0e0e0
    .text-truncate-2-line
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 2
        display: -webkit-box
        -webkit-box-orient: vertical
    .icon-airplane
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
    /* Disable grayscale on hover */
    //.gray-img
        &:hover
            -webkit-filter: grayscale(0)
            filter: none
    .mobile-btn-buy
        position: fixed
        z-index: 1000
        bottom: -5px
        left: 0
        background: #fff
        width: 100%
        padding: 0.11in 0.09in 0 !important
</style>
