<template lang="pug">
  section.loginForm
    div(style='position: relative;display: table;width: 100%;height: 100%;text-align: center;')
      .bg-login-style
      // <div v-if="!isLoggedIn" class="form-login">
      .form-login
        .div(v-if="!isLoginPassword")
          .title-login ¡ Hola Sonríe !
          //Estás en OfertaUp!
          .title-form Te estábamos esperando &#x1F60A;
          form(v-on:submit.prevent='login()')
              v-text-field#email(
                  rounded dense outlined label="Email"
                  v-model="$v.register_form.email.$model"
                  @input="$v.register_form.email.$touch()"
                  :error-messages="isSubmitted && (!$v.register_form.email.minLength || !$v.register_form.email.required) ? ['Debes ingresar tu email correcto.'] : []"
                  type='email'
                  append-icon="mdi-email")
              v-text-field#password(
                  rounded dense outlined hide-details label="Crear contraseña"
                  v-model="$v.register_form.password.$model"
                  @input="$v.register_form.password.$touch()"
                  :error-messages="isSubmitted && (!$v.register_form.password.minLength || !$v.register_form.password.required) ? ['Debes ingresar minimo 6 dígitos.'] : []"
                  type='password'
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass"
              )
              div(v-if='isErrorLogin' style='padding: 0;margin: 0;font-size: 12px;color: #ff151a;width: 402px;') {{errorMssg}}
              div.btn-form
                  v-btn.mt-3.button.is-primary(type='submit' color="primary" rounded="" :loading="loadingLogin" :disabled="loadingLogin")
                      span Iniciar sesión
                  //div.fm-sns-btns.pt-2
                    //div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                      .fm-sns-item.facebook
                    div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                      .fm-sns-item.google
              .mt-2.btn-form
                  v-btn.button.btn-google(type='button' @click="loginWithGoogle" rounded large :loading="loadingGoogle" :disabled="loadingGoogle")
                      span.jss50
                          span.jss67
                              svg(viewbox='0 0 20 20' width='20px' height='20px')
                                  g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                      g#Group(fill-rule='nonzero')
                                          path#Shape(d='M19.5326718,10.1870992 C19.5326718,9.36770992 19.4661832,8.76977099 19.3222901,8.14969466 L9.96564885,8.14969466 L9.96564885,11.8480153 L15.4577863,11.8480153 C15.3470992,12.7670992 14.7491603,14.1512214 13.4203817,15.0812977 L13.4017557,15.2051145 L16.3601527,17.4969466 L16.5651145,17.5174046 C18.4474809,15.7789313 19.5326718,13.2210687 19.5326718,10.1870992' fill='#4285F4')
                                          path#Shape(d='M9.96564885,19.9312977 C12.6563359,19.9312977 14.9151908,19.0454198 16.5651145,17.5174046 L13.4203817,15.0812977 C12.578855,15.6681679 11.4493893,16.0778626 9.96564885,16.0778626 C7.33030534,16.0778626 5.09358779,14.3394656 4.29625954,11.9366412 L4.17938931,11.9465649 L1.10320611,14.3272519 L1.0629771,14.439084 C2.70175573,17.6945038 6.06793893,19.9312977 9.96564885,19.9312977' fill='#34A853')
                                          path#Shape(d='M4.29625954,11.9366412 C4.08587786,11.3165649 3.96412214,10.6521374 3.96412214,9.96564885 C3.96412214,9.27908397 4.08587786,8.61473282 4.28519084,7.99465649 L4.27961832,7.86259542 L1.1648855,5.44366412 L1.0629771,5.4921374 C0.387557252,6.84305344 -2.57571742e-14,8.36007634 -2.57571742e-14,9.96564885 C-2.57571742e-14,11.5712214 0.387557252,13.0881679 1.0629771,14.439084 L4.29625954,11.9366412' fill='#FBBC05')
                                          path#Shape(d='M9.96564885,3.85335878 C11.8369466,3.85335878 13.0992366,4.66167939 13.8190076,5.33717557 L16.6315267,2.5910687 C14.9041985,0.985496183 12.6563359,-1.24344979e-14 9.96564885,-1.24344979e-14 C6.06793893,-1.24344979e-14 2.70175573,2.23671756 1.0629771,5.4921374 L4.28519084,7.99465649 C5.09358779,5.59183206 7.33030534,3.85335878 9.96564885,3.85335878' fill='#EB4335')
                          span.pl-1 Ingresa con Google
        .div(v-else)
          form(v-on:submit.prevent='addPasswordGoogleAuth()')
              .title-login Gmail verificado &#x1F389
              .title-login Ingresa una contraseña
              //mdiCheckboxMarkedCircle
              .div.mb-5(style="font-size:18px;")
                  span.mr-1
                      v-icon(style="font-size:28px;").green--text mdi-checkbox-marked-circle
                  span {{emailByGoogleAuth}}
              v-text-field#password(
                  rounded dense outlined hide-details label="Crear contraseña"
                  v-model="$v.google_auth.password.$model"
                  @input="$v.google_auth.password.$touch()"
                  :error-messages="isSubmitted && (!$v.google_auth.password.minLength || !$v.google_auth.password.required) ? ['Debes ingresar minimo 6 dígitos.'] : []"
                  type='password'
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass")
              .div.pl-1.text-caption Esta contraseña es solo para ingresar a Ofertaup.com
              div.btn-form
                  v-btn.mt-3.button.is-primary(type='submit' color="primary" rounded="" :loading="loadingLogin" :disabled="loadingLogin")
                      span Continuar
      .div-sign-in-style
        .title-btn.mx-2 ¿Todavía no eres usuario?
        v-btn.button.is-primary(@click='toRegister' color="primary" rounded="")
          // <b-icon icon="cash" custom-size="default" class="icon-styl"/>
          span Crear cuenta
</template>

<script lang="ts">
    import {Component, Vue, State, Action, Getter} from "nuxt-property-decorator"
    // import 'vue-tel-input/dist/vue-tel-input.css';
    //import {AuthBase} from '~/services/user/AuthBase';
    import { required, minLength, between, email } from 'vuelidate/lib/validators'
    import { validationMixin } from "vuelidate";
    import {UserServices} from '~/services/UserServices';
    import {PARAMETERS} from "~/config/HttpBase";

    /*interface login {
        username: string;
        password: string;
        email: string;
        surname: string;
    }*/

    @Component({
        mixins:[validationMixin],
        validations:{
            register_form:{
                email:{required, minLength: minLength(12), email},
                password:{ required, minLength: minLength(6)}
            },
            google_auth:{
                password:{ required, minLength: minLength(6)}
            }
        }
    })
    export default class LoginForm extends Vue {

      @State('authUser') public authUser:any;
      @Getter('isLoggedIn') public isLoggedIn:any;
      @Action('onAuthStateChanged') public onAuthStateChanged:any;

      public validNumber: boolean = false;
      private showPass = false
      public isSubmitted = false
      public loadingLogin = false
      public loadingGoogle = false
      public emailByGoogleAuth:any = null
      private userServices = new UserServices()

      /*public authData: login = {
          username: "",
          password: "",
          email: "",
          surname: ""
      };*/
      private google_auth = {
        password:""
      }
      private register_form = {
        email:"",
        password:""
      }
      private standard = {id:"5owEjii8M2zxGGfYjiG4",name:"standard"}

      private queryParam:any = {}
      public error = false;
      public success = false;
      public isErrorLogin = false
      public errorMssg = ""
      public isLoginPassword:any = null
      //public provider = new this.$fireAuthObj.GoogleAuthProvider()
      public provider = new this.$fireModule.auth.GoogleAuthProvider();

      mounted () {
          //this.isLoading = false;
          this.isSubmitted = false
          this.queryParam = this.$route.query
      }

      userCreate(user:any,password:any){
          let itemName:any = user.displayName.split(" ")
          let update_register = {
              email: user.email,
              full_name: user.displayName,
              user_id: user.uid,
              password: password,
              roles_id: [this.standard],
              photo_url:user.photoURL
          }
          switch (itemName.length) {
                case 1:
                    update_register['first_name'] = itemName[0]
                    update_register['last_name'] = itemName[0]
                    break;
                case 2:
                    update_register['first_name'] = itemName[0]
                    update_register['last_name'] = itemName[1]
                    break;
                case 3:
                    update_register['first_name'] = itemName[0] + " " + itemName[1]
                    update_register['last_name'] = itemName[2]
                    break;
                case 4:
                    update_register['first_name'] = itemName[0] + " " + itemName[1]
                    update_register['last_name'] = itemName[2] + " " + itemName[3]
                    break;
          }
          this.userServices.createUser(update_register)
      }

      async addPasswordGoogleAuth(){
          this.loadingLogin = true
          //@ts-ignore
          if (this.$v.google_auth.$invalid) {
              this.isSubmitted = true
              // @ts-ignore
              console.log(this.$v.google_auth)
              return
          }
          //this.$fire.auth.currentUser?.email
          this.$fire.auth.useDeviceLanguage()
          let currentUser = this.$fire.auth.currentUser
          let email:any = this.$fire.auth.currentUser?.email
          let credentialEmail = await this.$fireModule.auth.EmailAuthProvider.credential(email, this.google_auth.password);
          currentUser?.linkWithCredential(credentialEmail)
              .then((usercred:any) => {
                  let user = usercred.user;
                  this.userCreate(user,this.google_auth.password)
                  setTimeout(()=>{
                    this.goToPath('validacion')
                    this.loadingLogin = false
                  }, 1500);
              }).catch((error) => {
              console.log(" error", error);
          });
      }

      async login(){
          this.isErrorLogin = false
          //@ts-ignore
          if (this.$v.register_form.$invalid) {
              this.isSubmitted = true
              // @ts-ignore
              //console.log(this.$v.register_form)
              return
          }
          //this.isLoading = true;
          this.success = false;
          this.error = false;
          this.loadingLogin = true
          //console.log("update---------09345");
          // @ts-ignore
          this.$fire.auth.signInWithEmailAndPassword(
              this.register_form.email,
              this.register_form.password
            ).then((response:any) =>{
              //console.log(response.user)
              this.$fire.auth.currentUser?.getIdTokenResult().then((idTokenResult) => {
                  let authUser = response.user
                  let claims = idTokenResult.claims
                  this.onAuthStateChanged({authUser, claims})
                  setTimeout(()=>{
                      if(authUser && authUser.user && !authUser.user.phoneNumber){
                          this.goToPath('validacion')
                      }else {
                          this.goToPathWithPush()
                      }
                      this.loadingLogin = false
                  }, 1500);
              }).catch((error) => {
                  console.log(error);
              });
              //this.isLoading = false;

            }).catch((error:any)=>{
              console.log(error.code);
              console.log(error.message);
              this.isErrorLogin = true
              this.loadingLogin = false
              this.errorMssg = "Encontramos un error"
              if(error.code=="auth/user-not-found"){
                  this.errorMssg = "No hay ningún registro de usuario que corresponda a este cuenta."
              }
              if(error.code=="auth/wrong-password"){
                  this.errorMssg = "La contraseña no es válida o el usuario no tiene contraseña."
              }
          });

        }

      /** Go to Rout view register **/
      toRegister(){
        //this.$router.push({name: 'registrarse'});
        this.goToPath('registrarse')
      }

      goToPathWithPush(){
          if(this.queryParam && this.queryParam.objectId && this.queryParam.orderFrom && this.queryParam.quantity){
              // @ts-ignore
              this.$router.replace({name: this.queryParam.toPath, query:{
                      objectId:this.queryParam.objectId,
                      orderFrom:this.queryParam.orderFrom,
                      quantity:this.queryParam.quantity
                  }}).catch(error => {
                  console.info(error.message)
              });
              //window.history.replaceState('','','transferencia-credito-a-debito');
              //window.location.reload();
              //this.isLoading = false;
          }else {
              if(this.queryParam.from_path){
                  this.$router.push({path:this.queryParam.from_path})
              }else {
                  this.$router.push({path:"/"})
              }
          }
      }

      goToPath(name:any){
        if(this.queryParam && this.queryParam.objectId && this.queryParam.orderFrom && this.queryParam.quantity){
            // @ts-ignore
            this.$router.replace({name: name, query:{
                    toPath:this.queryParam.toPath,
                    objectId:this.queryParam.objectId,
                    orderFrom:this.queryParam.orderFrom,
                    quantity:this.queryParam.quantity
                }})
        }else {
            if(this.queryParam.from_path){
                this.$router.replace({name: name,query:{from_path:this.queryParam.from_path}});
            }else {
                this.$router.replace({name: name});
            }
        }
      }

      loginWithGoogle(){
          this.loadingGoogle = true
          this.$fireModule.auth()
              .signInWithPopup(this.provider)
              .then(async (result) => {
                  /** @type {firebase.auth.OAuthCredential} */
                  //let credential:any = result.credential;
                  // This gives you a Google Access Token. You can use it to access the Google API.
                  //let token:any = credential.accessToken;
                  // The signed-in user info.
                  let user:any = result.user;
                  this.emailByGoogleAuth = user.email

                  let fetchList = await this.$fireModule.auth().fetchSignInMethodsForEmail(user.email)
                  let fetchPassword = fetchList.find(vl=>vl==="password")
                  //if featch with email and passwored
                  if(!fetchPassword){
                      setTimeout(()=>{
                          this.isLoginPassword = true
                          this.loadingGoogle = false
                          this.goToPath('validar-gmail')
                      }, 1500);
                  }else {
                      this.$fire.auth.currentUser?.getIdTokenResult().then((idTokenResult) => {
                          let authUser = user
                          let claims = idTokenResult.claims
                          this.onAuthStateChanged({authUser, claims})
                          setTimeout(()=>{
                              if(authUser && !authUser.phoneNumber){
                                  this.goToPath('validacion')
                              }else {
                                  this.goToPathWithPush()
                              }
                              this.loadingGoogle = false
                          }, 1500);
                      }).catch((error) => {
                          console.log(error);
                      });
                  }
              }).catch((error) => {
              // Handle Errors here.
              //let errorCode = error.code;
              this.loadingGoogle = false
              let errorMessage = error.message;
              // The email of the user's account used.
              //let email = error.email;
              // The firebase.auth.AuthCredential type that was used.
              //let credential = error.credential;
              console.log(errorMessage)
          });
      }

      validateEmail(email:any) {
        let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }
    }
</script>
<style lang="sass" scoped>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap')
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap')
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')

  @media (max-width: 600px)
      .bg-login-style
          display: none !important
      .form-login
          width: 90% !important
          padding-top: 0px !important
          padding-bottom: 50px
      .btn-form
          text-align: center !important
          .fm-sns-btns
              justify-content: center
      .div-sign-in-style
          display: block !important
          text-align: center

  .loginForm
    position: relative
    display: table
    width: 100%
    height: 100vh
    text-align: center

  .button.is-primary
    padding: 12px 34px !important
    min-height: 45px !important
    background-color: #28E39E
    &:hover
      background-color: #32e3ac

  .bg-login-style
    background-color: #ffab00
    background-image: url('~@/assets/images/bg-login.png')
    width: 40%
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 0
    overflow: hidden
    position: relative
    display: table-cell
    vertical-align: top

  .title-login
    font-size: 25px
    font-weight: 700
    font-family: 'Open Sans', sans-serif
    color: #133273
    margin: 0 0 1.1rem
    letter-spacing: -.05rem

  .form-login
    //letter-spacing: -.3px
    margin: 0 auto 0
    width: 60%
    //padding-top: 40px
    /* margin: 60px auto 0 */
    /* max-width: 26rem */
    text-align: left
    /* -webkit-transition: all .4s */
    //-o-transition: all .4s
    /* transition: all .4s */
    /* margin-bottom: auto */
    display: flex
    //padding-left: 170px
    //padding-right: 170px
    flex-direction: column
    height: 100%
    justify-content: center

  .security-icons
    width: 100%
    background-color: #fff
    border-top: .1rem solid #cfdae6
    left: 0
    right: 0
    bottom: 0
    padding: 1rem 0
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: center
    justify-content: center
    margin-top: 2rem

  .security-icons--content
    display: -ms-flexbox
    display: flex
    margin: 0 auto
    width: 100%
    max-width: 41rem
    -ms-flex-pack: start
    justify-content: flex-start
    -ms-flex-align: center
    align-items: center
    -webkit-transition: all .4s
    -o-transition: all .4s
    transition: all .4s

  .security-icons--icon:not(:last-child)
    argin-right: 10%
  .security-icons--icon
    img
      width: 100%
      max-width: 8.5rem

  .input-mail
    label
      font-size: 12px
      margin-top: 10px
      margin-bottom: 10px
    input
      width: 100%
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important
      textarea
        background-color: #d1d1d1
      /*&::selection
          background: #f7a494
        &::-moz-selection
          background: #f7a494*/

  .input-password
    label
      font-size: 12px
      margin-top: 10px
      margin-bottom: 10px
    input
      width: 100%
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important

  .div-button-style
    margin-top: 25px


  .title-form
    margin-top: 14px
    margin-bottom: 14px
    font-size: 20px
    color: #4b5d72

  .div-sign-in-style
    display: flex
    position: absolute
    top: 10px
    right: 20px
    .title-btn
      display: flex
      flex-direction: column
      justify-content: center

  .btn-google
    margin: 6px
    width: 240px
    padding: 12px 43px !important
    //min-height: 50px !important
    color: #4B5D72
    border: 1px solid #CFDAE6
    .jss50
        justify-content: center
        display: flex
        align-items: center


  .fm-sns-btns
      padding: 0 30px
      overflow: hidden
      display: flex
      justify-content: left

  .fm-sns-item-wrap
      float: left
      margin: 20px

  .fm-sns-item
      display: flex
      margin: 0 auto
      width: 54px
      height: 54px
      background-image:  url(https://ae01.alicdn.com/kf/H44c0698a1944450a9ac158772a32fe1aN.png) //url('~@/assets/images/logo-social.png')
      background-repeat: no-repeat
      background-size: cover

  .google
      background-position: 0 -61px
  .facebook
      background-position: 0 0

</style>
