<template lang="pug">
  section.loginForm
    div(style='position: relative;display: table;width: 100%;height: 100%;text-align: center;')
      .bg-register-style
      .form-login
        // <div class="form-login">
        .title-login ¡ Empieza a usar OfertaUp !
        .title-form Y saca más partido a tu compras &#x1F60A;
        div
          //b-notification(:closable='false')
            //b-loading(:is-full-page='isFullPage' :active.sync='isLoading' :can-cancel='false')
          form(v-on:submit.prevent='registerEmail()')
              div
                div
                  v-text-field#name(
                    rounded dense outlined label="Tus nombres"
                    v-model="$v.register_form.first_name.$model"
                    @input="$v.register_form.first_name.$touch()"
                    :error-messages="isSubmitted && (!$v.register_form.first_name.alphaWhiteDiacritic || !$v.register_form.first_name.minLength || !$v.register_form.first_name.required) ? ['Debes ingresar tus nombres.'] : []"
                    type="text"
                  )
                  v-text-field#apellido(
                    rounded dense outlined label="Tus apellidos"
                    v-model="$v.register_form.last_name.$model"
                    @input="$v.register_form.last_name.$touch()"
                    :error-messages="isSubmitted && (!$v.register_form.last_name.alphaWhiteDiacritic || !$v.register_form.last_name.minLength || !$v.register_form.last_name.required) ? ['Debes ingresar tus apellidos.'] : []"
                    type="text"
                  )
                  v-text-field#email(
                    rounded dense outlined label="Email"
                    v-model="$v.register_form.email.$model"
                    @input="$v.register_form.email.$touch()"
                    :error-messages="isSubmitted && (!$v.register_form.email.minLength || !$v.register_form.email.required) ? ['Debes ingresar tu email correcto.'] : []"
                    type='email'
                    append-icon="mdi-email"
                  )
                  v-text-field#password(
                    rounded dense outlined hide-details label="Crear contraseña"
                    v-model="$v.register_form.password.$model"
                    @input="$v.register_form.password.$touch()"
                    :error-messages="isSubmitted && (!$v.register_form.password.minLength || !$v.register_form.password.required) ? ['Debes ingresar minimo 6 dígitos.'] : []"
                    type='password'
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass ? 'text' : 'password'"
                    @click:append="showPass = !showPass"
                  )
                  //.input-name
                    label(style='display:block;' for='name') Nombres
                    input#name(style='display: inline-block;'
                        placeholder='Ingresa tus nombres'
                        name='name'
                        )
                    div(v-if='isCorrectData.username' style='padding: 0;margin: 0;font-size: 10px;color: #ff151a') Debes ingresar tus nombre
                  //.input-name
                    label(style='display:block;' for='apellido') Apellidos
                    input#apellido(style='display: inline-block;' @input='inputLastName' v-model='authData.username' placeholder='Ingresa tus apellidos' type='text' name='name')
                    div(v-if='isCorrectData.last_name' style='padding: 0;margin: 0;font-size: 10px;color: #ff151a') Debes ingresar tus apellidos
                  //.input-mail
                    label(style='display:block;' for='email') Email
                    input#email(style='display: inline-block;' @input='inputEmail' v-model='authData.email' placeholder='Introduce tu email' type='email' name='email')
                    div(v-if='isCorrectData.email' style='padding: 0;margin: 0;font-size: 10px;color: #ff151a') Debes ingresar tu email correcto
                  //.input-password
                    label(style='display: block;' for='password') Crear contraseña
                    input#password(style='display: inline-block;' @input='inputPassword' v-model='authData.password' placeholder='Contraseña, minimo 6 dígitos' type='password' name='password')
                    div(v-if='isCorrectData.password' style='padding: 0;margin: 0;font-size: 10px;color: #ff151a') Debes ingresar minimo 6 dígitos
                    //
                      <div class="inputPin__wrapper">
                      <input v-model="codeComplet.code01" v-on:input="inputCode('code01','cd2')" type="password" id="cd1" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      <input v-model="codeComplet.code02" v-on:input="inputCode('code02','cd3')" type="password" id="cd2" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      <input v-model="codeComplet.code03" v-on:input="inputCode('code03','cd4')" type="password" id="cd3" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      <input v-model="codeComplet.code04" v-on:input="inputCode('code04','cd5')" type="password" id="cd4" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      <input v-model="codeComplet.code05" v-on:input="inputCode('code05','cd6')" type="password" id="cd5" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      <input v-model="codeComplet.code06" v-on:input="inputCode('code06','createbtn')" type="password" id="cd6" inputmode="numeric" maxlength="1" autocomplete="no-pass" value="">
                      </div>
              //
                <div class="input-phone">
                <label style="display: block;" for="password">Celular</label>
                <input style="display: inline-block;" v-model="authData.phone" placeholder="Introduce tu contraseña" type="password" id="password" name="password" :required="true">
                </div>
              div(style='font-size: 14px;font-weight: 500;margin-top: 8px;margin-bottom: 8px;')
                div.mt-1.text-caption
                  | Al crear la cuenta aceptas las
                  span(style='color: #439cff')  Condiciones Legales.
                //div.mt-1.text-caption
                  | En cualquier momento podrás modificar el
                  span(style='color: #439cff')  Tratamiento de datos.
              .btn-form
                div(v-if='isErrorRegi' style='padding: 0;margin: 0;font-size: 12px;color: #ff151a;width: 100%;') {{errorMssg}}
                v-btn.button.is-primary(type='submit' color="primary" rounded="" :loading="loadingRegister" :disabled="loadingRegister")
                    span Crear cuenta
                    // <b-icon icon="cash" custom-size="default" class="icon-styl"/>
                //div.fm-sns-btns.pt-2
                    //div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                        .fm-sns-item.facebook
                    div(style="margin: 8px;").fm-sns-item-wrap.v-btn.v-btn--flat.v-btn--round.theme--light.v-size--default
                        .fm-sns-item.google
                //.mt-2
                  v-btn.button.btn-google(type='button' rounded large)
                    span.jss50
                      span.jss67
                          svg(viewbox='0 0 20 20' width='20px' height='20px')
                              g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                  g#Group(fill-rule='nonzero')
                                      path#Shape(d='M19.5326718,10.1870992 C19.5326718,9.36770992 19.4661832,8.76977099 19.3222901,8.14969466 L9.96564885,8.14969466 L9.96564885,11.8480153 L15.4577863,11.8480153 C15.3470992,12.7670992 14.7491603,14.1512214 13.4203817,15.0812977 L13.4017557,15.2051145 L16.3601527,17.4969466 L16.5651145,17.5174046 C18.4474809,15.7789313 19.5326718,13.2210687 19.5326718,10.1870992' fill='#4285F4')
                                      path#Shape(d='M9.96564885,19.9312977 C12.6563359,19.9312977 14.9151908,19.0454198 16.5651145,17.5174046 L13.4203817,15.0812977 C12.578855,15.6681679 11.4493893,16.0778626 9.96564885,16.0778626 C7.33030534,16.0778626 5.09358779,14.3394656 4.29625954,11.9366412 L4.17938931,11.9465649 L1.10320611,14.3272519 L1.0629771,14.439084 C2.70175573,17.6945038 6.06793893,19.9312977 9.96564885,19.9312977' fill='#34A853')
                                      path#Shape(d='M4.29625954,11.9366412 C4.08587786,11.3165649 3.96412214,10.6521374 3.96412214,9.96564885 C3.96412214,9.27908397 4.08587786,8.61473282 4.28519084,7.99465649 L4.27961832,7.86259542 L1.1648855,5.44366412 L1.0629771,5.4921374 C0.387557252,6.84305344 -2.57571742e-14,8.36007634 -2.57571742e-14,9.96564885 C-2.57571742e-14,11.5712214 0.387557252,13.0881679 1.0629771,14.439084 L4.29625954,11.9366412' fill='#FBBC05')
                                      path#Shape(d='M9.96564885,3.85335878 C11.8369466,3.85335878 13.0992366,4.66167939 13.8190076,5.33717557 L16.6315267,2.5910687 C14.9041985,0.985496183 12.6563359,-1.24344979e-14 9.96564885,-1.24344979e-14 C6.06793893,-1.24344979e-14 2.70175573,2.23671756 1.0629771,5.4921374 L4.28519084,7.99465649 C5.09358779,5.59183206 7.33030534,3.85335878 9.96564885,3.85335878' fill='#EB4335')
                      span.pl-1 Ingresa con Google
          .div-sign-in-style
            .title-btn.mx-2 Ya estoy registrado
            v-btn.button.is-primary(@click='toLogin' color="primary" rounded="")
              // <b-icon icon="cash" custom-size="default" class="icon-styl"/>
              span Iniciar Sesión
</template>
<script lang="ts">
    import {Component, Vue, State, Action, Getter} from "nuxt-property-decorator"
    import {UserServices} from '~/services/UserServices';
    import {required, minLength, between, email, alpha, helpers} from 'vuelidate/lib/validators'
    import { validationMixin } from "vuelidate";
    //import {AuthBase} from '~/services/user/AuthBase'
    export const alphaWhiteDiacritic = helpers.regex('alphaWhiteDiacritic', /^[a-zA-ZÀ-ž\s]*$/);

    @Component({
        mixins:[validationMixin],
        validations:{
            register_form:{
                first_name:{ required, minLength: minLength(6),alphaWhiteDiacritic },
                last_name:{ required, minLength: minLength(6),alphaWhiteDiacritic },
                email:{required, minLength: minLength(12), email},
                password:{ required, minLength: minLength(6)}
            }
        }
    })
    export default class RegisterForm extends Vue {

        @State('authUser') public authUser:any;
        @Getter('isLoggedIn') public isLoggedIn:any;
        @Action('onAuthStateChanged') public onAuthStateChanged:any;

        public isSubmitted = false
        private showPass = false
        private userServices = new UserServices()
        private loadingRegister = false

        private standard = {id:"5owEjii8M2zxGGfYjiG4",name:"standard"}
        private register_form:any ={
            first_name:"",
            last_name:"",
            email:"",
            password:""
        }

        private isCorrectData = {
          username:false,
          last_name:false,
          email:false,
          password:false
        };
        private codeComplet = {
          code01:'',
          code02:'',
          code03:'',
          code04:'',
          code05:'',
          code06:''
        };

        private isFullPage = false;
        private isLoading = true;
        public isErrorRegi = false
        public errorMssg = ""
        redirectText:string = '';
        // public created() {
        //     this.isLogged();
        // }
        //
        $route: any;
        authData = {
          username:"",
          email:"",
          password:""
        };

        private queryParam:any = {}

        public loading = false;

        public created() {

        }

        mounted () {
          this.queryParam = this.$route.query
          // @ts-ignore
          //document.getElementById('name').focus();
          //this.isLoading = false;
          this.isSubmitted = false
        }

        /*inputCode(code:any, $idcard:any){
          // @ts-ignore
          this.codeComplet[code] = this.codeComplet[code].replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
          // @ts-ignore
          if (this.codeComplet[code].length == 1 && $idcard){
            // @ts-ignore
            document.getElementById($idcard).focus();
          }
        }*/

        registerEmail(){

           this.isErrorRegi = false
           this.loadingRegister = true
           //@ts-ignore
           if (this.$v.register_form.$invalid) {
            this.isSubmitted = true
            this.loadingRegister = false
            console.log("error de registro")
            console.log(this.$v.register_form)
            return
           }
           this.register_form.first_name = this.register_form.first_name.toLowerCase()
           this.register_form.last_name = this.register_form.last_name.toLowerCase()
           let name = this.register_form.first_name + " " + this.register_form.last_name;
           let email = this.register_form.email;
           let password = this.register_form.password;

            this.$fire.auth.createUserWithEmailAndPassword(email, password)
              .then(vl=>{
                //let user = this.$fireAuth.currentUser;
                if (vl && vl.user){
                  let user = vl.user
                  user.updateProfile({
                    displayName: name,
                    photoURL: "",
                  }).then(()=>{
                    console.log("Updated Name and Photo");
                    this.register_form['user_id'] = user.uid
                    this.register_form['roles_id'] = [this.standard]
                    this.userServices.createUser(this.register_form)
                    this.$fire.auth.currentUser?.getIdTokenResult().then((idTokenResult) => {
                        let authUser = user
                        let claims = idTokenResult.claims
                        this.onAuthStateChanged({authUser, claims})
                        // @ts-ignore
                        setTimeout(()=>{
                            this.goToPath('validacion')
                            this.isSubmitted = false
                            this.loadingRegister = false
                            //this.isLoading = false;
                        }, 1000);
                    })
                  }).catch((error)=>{
                    console.log(error);
                  });
                }
                //user.updatePhoneNumber({})
              }).catch((error:any)=>{
                console.log(error.code);
                console.log(error.message);
                //this.isLoading = false;
                this.isErrorRegi = true
                this.loadingRegister = false
                this.errorMssg = "Encontramos un error"
                if(error.code=="auth/email-already-in-use"){
                    this.errorMssg = "La dirección de correo electrónico ya está siendo utilizada por otra cuenta."
                }
            });

        }

        validateEmail(email:any) {
          let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        }

        computed(){
        // @ts-ignore
        /*this.$fire.auth.onAuthStateChanged((user:any)=> {
            if (user) {
              console.log("USER LOGGED IN");
            } else {
              // No user is signed in.
              console.log("USER NOT LOGGED IN");
            }
          });*/
        }

        toLogin(){
            //this.$router.push({name: 'registrarse'});
            this.goToPath('ingresar')
        }

        goToPath(name:any){
            if(this.queryParam && this.queryParam.objectId && this.queryParam.orderFrom && this.queryParam.quantity){
                // @ts-ignore
                this.$router.replace({name: name, query:{
                        toPath:this.queryParam.toPath,
                        objectId:this.queryParam.objectId,
                        orderFrom:this.queryParam.orderFrom,
                        quantity:this.queryParam.quantity
                    }})
            }else {
                if(this.queryParam.from_path){
                    this.$router.replace({name: name,query:{from_path:this.queryParam.from_path}});
                }else {
                    this.$router.replace({name: name});
                }
            }
        }


        }
</script>
<style lang="sass" scoped>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap')
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap')
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')

  @media (max-width: 600px)
      .bg-register-style
          display: none !important
      .form-login
          width: 90% !important
          padding-top: 0px !important
      .btn-form
          text-align: center !important
          .fm-sns-btns
              justify-content: center
      .div-sign-in-style
          display: block !important
          text-align: center

  .btn-google
      margin: 6px
      width: 240px
      padding: 12px 43px !important
      //min-height: 50px !important
      color: #4B5D72
      border: 1px solid #CFDAE6
  .loginForm
    position: relative
    display: table
    width: 100%
    height: 100vh
    text-align: center

  .button.is-primary
    padding: 12px 34px !important
    min-height: 45px !important
    background-color: #28E39E
    &:hover
      background-color: #32e3ac

  .bg-register-style
    background-color: #ffab00
    background-image: url('~@/assets/images/bg-register.png')
    width: 40%
    height: 100%
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 0
    overflow: hidden
    position: relative
    display: table-cell
    vertical-align: top

  .title-login
    font-size: 25px
    font-weight: 700
    margin-bottom: 4px
    font-family: 'Open Sans', sans-serif
    color: #133273
    //margin: 0 0 1.1rem
    letter-spacing: -.05rem

  .form-login
    //letter-spacing: -.3px
    margin: 0 auto 0
    //padding-top: 45px
    width: 65%
    /* margin: 60px auto 0 */
    /* max-width: 26rem */
    text-align: left
    /* -webkit-transition: all .4s */
    //-o-transition: all .4s
    /* transition: all .4s */
    /* margin-bottom: auto */
    display: flex
    //padding-left: 170px
    //padding-right: 170px
    flex-direction: column
    height: 100%
    justify-content: center

  .security-icons
    width: 100%
    background-color: #fff
    border-top: .1rem solid #cfdae6
    left: 0
    right: 0
    bottom: 0
    padding: 1rem 0
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: center
    justify-content: center
    margin-top: 2rem

  .security-icons--content
    display: -ms-flexbox
    display: flex
    margin: 0 auto
    width: 100%
    max-width: 41rem
    -ms-flex-pack: start
    justify-content: flex-start
    -ms-flex-align: center
    align-items: center
    -webkit-transition: all .4s
    -o-transition: all .4s
    transition: all .4s

  .security-icons--icon:not(:last-child)
    argin-right: 10%
  .security-icons--icon
    img
      width: 100%
      max-width: 8.5rem

  .input-code
    label
      font-size: 13px
      margin-top: 10px
      margin-bottom: 5px
    input
      width: auto
      letter-spacing: 4px
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important
      textarea
        background-color: #d1d1d1

  .input-phone
    label
      font-size: 13px
      padding-top: 10px
      margin-bottom: 5px
    div
      span
        padding-bottom: 8px
        padding-top: 8px
        font-size: 16px
        border-bottom: solid 1px
        border-color: #d1dae6
        padding-left: 25px
        position: relative
        img
          height: 15px
          position: absolute
          left: 0
          bottom: 9px

      input
        width: auto
        border: solid 0
        border-bottom: solid 1px
        border-color: #d0dae6
        padding-bottom: 8px
        padding-top: 8px
        font-size: 16px
        &:focus
          outline: none !important
        &::-webkit-input-placeholder
          color: #cecece !important
        &:-moz-placeholder
          color: #cecece !important
        &::-moz-placeholder
          color: #cecece !important
        &:-ms-input-placeholder
          color: #cecece !important
        textarea
          background-color: #d1d1d1

  .input-name
    label
      font-size: 13px
      margin-top: 8px
      margin-bottom: 3px
    input
      width: 100%
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important
      textarea
        background-color: #d1d1d1
  .input-mail
    label
      font-size: 13px
      margin-top: 8px
      margin-bottom: 5px
    input
      width: 100%
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important
      textarea
        background-color: #d1d1d1
  /*&::selection
      background: #f7a494
    &::-moz-selection
      background: #f7a494*/

  .input-password
    margin-top: 8px
    margin-bottom: 8px
    label
      font-size: 13px
      margin-top: 10px
      margin-bottom: 5px
    input
      width: 100%
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important

  .div-button-style
    margin-top: 15px

  .title-form
    padding-top: 0px
    margin-bottom: 14px
    font-size: 20px
    color: #4b5d72

  .div-sign-in-style
    display: flex
    position: absolute
    top: 10px
    right: 20px
    .title-btn
      display: flex
      flex-direction: column
      justify-content: center

  .btn-google
      margin: 6px
      width: 240px
      padding: 12px 43px !important
      //min-height: 50px !important
      color: #4B5D72
      border: 1px solid #CFDAE6
      .jss50
          justify-content: center
          display: flex
          align-items: center

  .inputPin__wrapper
    display: flex
    text-align: left
    -ms-flex-direction: row
    flex-direction: row
    -ms-flex-pack: justify
    justify-content: space-between
    width: 240px
    input
      width: 45px !important
      height: 55px
      background-color: #f3f6f9
      border-radius: 5px
      text-align: center
      vertical-align: middle
      border: none
      font-size: 18px


  .fm-sns-btns
      padding: 0 30px
      overflow: hidden
      display: flex
      justify-content: left

  .fm-sns-item-wrap
      float: left
      margin: 20px

  .fm-sns-item
      display: flex
      margin: 0 auto
      width: 54px
      height: 54px
      background-image:  url(https://ae01.alicdn.com/kf/H44c0698a1944450a9ac158772a32fe1aN.png) //url('~@/assets/images/logo-social.png')
      background-repeat: no-repeat
      background-size: cover

  .google
      background-position: 0 -61px
  .facebook
      background-position: 0 0

</style>
