<template lang="pug">
  div(style='min-height: 100vh;display: flex;justify-content: center;align-items: center; padding: 14px;')
    div
        //b-notification(:closable='false')
        //b-loading(:is-full-page='false' :active.sync='isLoading' :can-cancel='false')
        div(style="font-size: 24px;color: #133273;font-family: 'Khula', sans-serif;") &#x1F38A Bienvenido &#x1F389 estas a solo un paso
        div Necesitamos validad tu Celular
        .input-phone
          label(style='display:block;' for='phone')  Ingresa tu celular
          div
            span
              img(src='@/assets/images/flag-icon-peru.svg' alt='')
              |           ({{contryCode}})
            input#phone(v-model='phoneNumber' v-on:input='inputPhone' style='display: inline-block;padding-left: 6px;width: 45%;' type='text')
            span(v-if='!reSendCode' @click='verifyPhone' style='border: solid 1px;border-radius: 18px;padding: 4px 8px 4px;font-size: 13px;cursor: pointer;') Recibir c&oacute;digo
            span(v-else='' style='border: solid 1px;border-radius: 18px;padding: 4px 8px 4px;font-size: 13px;cursor: pointer;color: #f44336') {{countdown}} Reenviar
            div(v-if='isPhone' style='padding: 0;margin: 0;font-size: 12px;color: #ff151a') Debes ingresar tu numero celular
        .input-code
          label(style='display:block;' for='code-sms')  Ingresa el código enviado por sms
          input#code-sms(v-model='smsCode' v-on:input='inputCode' style='display: inline-block;width: 62%;' type='text')
          v-btn.btn-validate-code(@click='submitPhoneNumberAuthCode' outlined rounded small :loading="loadButtonCode" :disabled="loadButtonCode") Validar c&oacute;digo
          div(v-if='isCode' style='padding: 0;margin: 0;font-size: 12px;color: #ff151a') Debes ingresar el código correcto
        div(v-if='isErrorCapt' style='padding: 0;margin: 0;font-size: 12px;color: #ff151a;width: 402px;') {{errorMssg}}
        .div#recaptcha-container

</template>

<script lang="ts">
  import {Component, Vue,  State, Action, Getter } from "nuxt-property-decorator"
  import {UserServices} from '~/services/UserServices';

  @Component({})
  export default class ValidarCelular extends Vue {
    @State('authUser') public authUser:any;
    @Getter('isLoggedIn') public isLoggedIn:any;
    @Action('onAuthStateChanged') public onAuthStateChanged:any;

    private userServices = new UserServices()
    public contryCode = "+51";
    public phoneNumber = "";
    public smsCode = "";
    public appVerifier:any;
    public isPhone = false;
    public reSendCode = false;
    public isCode = false;
    private isLoading = true;
    private queryParam:any = {}
    private isErrorCapt = false;
    private errorMssg = "";
    private loadButtonCode = false

    mounted () {
      // @ts-ignore
      this.appVerifier = window.recaptchaVerifier;
      this.queryParam = this.$route.query
      //this.$fireAuth.settings.appVerificationDisabledForTesting = true;

      try {
          // @ts-ignore
          window.recaptchaVerifier = new this.$fireModule.auth.RecaptchaVerifier('recaptcha-container',{size: 'invisible'});
      }  catch (e) {
         console.log(e.message)
      }
      // @ts-ignore
      //console.log(window.recaptchaVerifier);
      /*this.appVerifier = new this.$fireAuthObj.RecaptchaVerifier(
        "recaptcha-container", {size: "normal", callback: (response:any) => {
            //$this.submitPhoneNumberAuth();
            console.log(response)
          }
        }
      );*/
      // @ts-ignore
      window.recaptchaVerifier.render();
      this.isLoading = false;
    }

    private countdown = '60s';
    private timeleft = 60;
    startCountdown(){
      this.reSendCode = true;
      let downloadTimer = setInterval(()=>{
        if(this.timeleft <= 0){
          clearInterval(downloadTimer);
          this.reSendCode = false;
          this.countdown = '60s';
          this.timeleft = 60;
        } else {
          this.countdown = this.timeleft+'s';
        }
        this.timeleft -= 1;
      }, 1000);
      setTimeout(()=>{
        // @ts-ignore
        let code =  document.getElementById('code-sms')
        if(code){
           code.focus();
        }
      }, 2000);
    }

    submitPhoneNumberAuth() {
      let phoneNumber = this.contryCode + this.phoneNumber;
      // @ts-ignore
      var appVerifier = window.recaptchaVerifier;
      //console.log(phoneNumber);
      // @ts-ignore
      this.$fire.auth.signInWithPhoneNumber(phoneNumber, appVerifier)
        .then((confirmationResult:any)=> {
          // @ts-ignore
          window.confirmationResult = confirmationResult;
          // @ts-ignore
          //console.log(window.confirmationResult)
        })
        .catch((error:any)=> {
          console.log(error);
        });
    }

    inputPhone(){
      this.phoneNumber = this.phoneNumber.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
    }

    verifyPhone(){
      let phoneNumber = this.contryCode + this.phoneNumber;
      let user = this.$fire.auth.currentUser;
      this.isErrorCapt = false
      if (phoneNumber.length===12 && user){
        // @ts-ignore
        user.linkWithPhoneNumber(phoneNumber,window.recaptchaVerifier).then(confirmationResult=>{
          // @ts-ignore
          window.confirmationResult = confirmationResult;
        }).catch((error:any)=>{
            console.log(error.code);
            console.log(error.message);
            this.isErrorCapt = true
            this.errorMssg = "Encontramos un error"
            if(error.code=="auth/too-many-requests"){
                this.errorMssg = "Hemos bloqueado todas las solicitudes de este Numero debido a una actividad inusual. Inténtelo de nuevo más tarde."
            }
        });
        this.startCountdown();
      }else {
        this.isPhone = true
      }
    }

    inputCode(){
      this.smsCode = this.smsCode.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
    }

    submitPhoneNumberAuthCode() {
      let code = this.smsCode;
      let phoneNumber = this.contryCode + this.phoneNumber;
      this.isLoading = true;
      let $this = this;
      this.loadButtonCode = true
      // @ts-ignore
      if (window.confirmationResult && code.length===6 && phoneNumber.length===12){
        // @ts-ignore
        window.confirmationResult.confirm(code)
          .then((result:any)=> {
            let user = result.user;
            if (user) {
              let authUser = user
              this.$fire.auth.currentUser?.getIdTokenResult().then((idTokenResult) => {
                  let claims = idTokenResult.claims
                  this.onAuthStateChanged({authUser, claims})
                  this.userServices.updatePhoneNumber({id:user.uid,phone_number:user.phoneNumber})
                  setTimeout(()=>{
                      this.goToPath()
                      this.loadButtonCode = false
                  }, 1500);
              }).catch((error) => {
                  console.log(error);
              });
              //this.$store.commit('updateSession', user.phoneNumber);
            }
            //window.location.replace('transferencia-credito-a-debito');
            //this.isLoading = false;
          }).catch((error:any)=>{
            console.log(error.code);
            console.log(error.message);
            this.isErrorCapt = true
            this.loadButtonCode = false
            this.errorMssg = "Encontramos un error"
            if(error.code=="auth/credential-already-in-use"){
                this.errorMssg = "Este número de celular y credencial ya está asociada con una cuenta de usuario diferente."
            }
          });
      } else {
        this.isCode = true;
        this.loadButtonCode = false
        this.isLoading = false;
      }

    }

    goToPath(){
      if(this.queryParam && this.queryParam.objectId && this.queryParam.orderFrom && this.queryParam.quantity){
          // @ts-ignore
          this.$router.replace({name: this.queryParam.toPath, query:{
                  objectId:this.queryParam.objectId,
                  orderFrom:this.queryParam.orderFrom,
                  quantity:this.queryParam.quantity
              }})
      }else {
          if(this.queryParam.from_path){
              this.$router.push({path:this.queryParam.from_path})
          }else {
              this.$router.replace({path:"/"});
          }
      }
    }
  }

</script>

<style lang="sass" scoped>

  .btn-validate-code
      border: solid 1px !important
      height: auto !important
      border-radius: 18px !important
      padding: 4px 8px 4px !important
      font-size: 13px !important
      cursor: pointer
      text-transform: lowercase !important
      letter-spacing: 0 !important

  .input-phone
    label
      font-size: 13px
      padding-top: 10px
      margin-bottom: 5px
    div
      span
        padding-bottom: 8px
        padding-top: 8px
        font-size: 16px
        border-bottom: solid 1px
        border-color: #d1dae6
        padding-left: 25px
        position: relative
        img
          height: 15px
          position: absolute
          left: 0
          bottom: 9px

      input
        width: auto
        border: solid 0
        border-bottom: solid 1px
        border-color: #d0dae6
        padding-bottom: 5px
        padding-top: 8px
        font-size: 16px
        &:focus
          outline: none !important
        &::-webkit-input-placeholder
          color: #cecece !important
        &:-moz-placeholder
          color: #cecece !important
        &::-moz-placeholder
          color: #cecece !important
        &:-ms-input-placeholder
          color: #cecece !important
        textarea
          background-color: #d1d1d1

  .input-code
    label
      font-size: 13px
      margin-top: 10px
      margin-bottom: 5px
    input
      width: auto
      letter-spacing: 4px
      border: solid 0
      border-bottom: solid 1px
      border-color: #d0dae6
      padding-bottom: 8px
      padding-top: 8px
      font-size: 16px
      &:focus
        outline: none !important
      &::-webkit-input-placeholder
        color: #cecece !important
      &:-moz-placeholder
        color: #cecece !important
      &::-moz-placeholder
        color: #cecece !important
      &:-ms-input-placeholder
        color: #cecece !important
      textarea
        background-color: #d1d1d1


</style>
